@using Domain.Entity.Announcements;
@using Domain.Enums
@using Reklama
@using Reklama.Models.SortModels
@using Reklama.Models.ViewModels.Announcement
@using Reklama.Models.ViewModels.Shared
@model PagedList.IPagedList<Domain.Entity.Announcements.Announcement>

@{
    ViewBag.Title = "Лучшие частные предложения";

    var filterParams = (FilterParams)ViewBag.FilterParams;
}



<div class="catalogInner">
    <table>
        <tr>
            <td class="ci1 blue">
                <div class="placeGoods sec">
                    @Html.ActionLink(" ", "Create")
                </div>

                @Html.Partial("_YandexDirectPartial")

            </td>
            <td class="ci2">
                <img width="10" height="1" border="0" src="/Images/System/s.png" />
            </td>
            <td class="ci3" valign="top">
                <div class="crumbs">
                    @Html.ActionLink("Главная страница", "Index", "Home")
                    <span class="arr">&rarr;</span>
                    Лучшие частные предложения
                </div>
                <h1>Лучшие частные предложения</h1>

                @** Need ViewBag.SortModel *@
                @*@if (filterParams.SectionId.HasValue)
                {
                    @Html.Partial("_AnnouncementSubsectionPartial", (object)ViewBag.Subsections)
                }*@


                <div class="clear"></div>
                <div class="hed3">
                    <ul>
                        <li @if (!filterParams.CategoryId.HasValue) { @: class="a"
                                                        }>

                            @Html.ActionLink("ВСЕ", "AnnouncementList", new
                                                                {
                                                                    IsEnabledFilter = filterParams.IsEnabledFilter,
                                                                    CityId = filterParams.CityId,
                                                                    PriceStart = filterParams.PriceStart,
                                                                    PriceEnd = filterParams.PriceEnd,
                                                                    HasPhoto = filterParams.HasPhoto,
                                                                    HasAuction = filterParams.HasAuction,
                                                                    SortOrder = filterParams.SortOrder,
                                                                    SortOptions = filterParams.SortOptions,
                                                                    SectionId = filterParams.SectionId,
                                                                    SubsectionId = filterParams.SubsectionId,
                                                                    CurrentPage = 1,
                                                                    PageSize = filterParams.PageSize
                                                                })
                        </li>
                        @foreach (Category category in ViewBag.Categories)
                        {
                            <li @if (filterParams.CategoryId.HasValue && filterParams.CategoryId.Value == category.Id) {  @: class="a"
                                                                }>
                                @Html.ActionLink(category.Name, "AnnouncementList", new
                                                                            {
                                                                                IsEnabledFilter = filterParams.IsEnabledFilter,
                                                                                CityId = filterParams.CityId,
                                                                                PriceStart = filterParams.PriceStart,
                                                                                PriceEnd = filterParams.PriceEnd,
                                                                                HasPhoto = filterParams.HasPhoto,
                                                                                HasAuction = filterParams.HasAuction,
                                                                                SortOrder = filterParams.SortOrder,
                                                                                SortOptions = filterParams.SortOptions,
                                                                                SectionId = filterParams.SectionId,
                                                                                SubsectionId = filterParams.SubsectionId,
                                                                                CategoryId = category.Id,
                                                                                CurrentPage = 1,
                                                                                PageSize = filterParams.PageSize
                                                                            })
                            </li>
                        }
                    </ul>

                    @* Как поднять объявление *@
                    @{ Html.RenderAction("LinkToOneOfMainConfigPage", "Links", new { mainPageName = "HowToUpAnnouncement", cssClass = "howUp", target = "_blank" }); }
                </div>
                <div class="hed2">
                    <div class="ciSort">
                        <span>Сортировать по:</span>
                        <ul>

                            <li @if (filterParams.SortOptions == SortOptionsParams.ByPrice) { @: class="a"
                                                                }>
                                <img class="ciSortL" src="/Images/System/ciSortL.png">
                                <img class="ciSortR" src="/Images/System/ciSortR.png">
                                <span>
                                    @Html.ActionLink("цене", "AnnouncementList", new
                                                                           {
                                                                               IsEnabledFilter = filterParams.IsEnabledFilter,
                                                                               CityId = filterParams.CityId,
                                                                               PriceStart = filterParams.PriceStart,
                                                                               PriceEnd = filterParams.PriceEnd,
                                                                               HasPhoto = filterParams.HasPhoto,
                                                                               HasAuction = filterParams.HasAuction,
                                                                               SortOrder = filterParams.SortOrder,
                                                                               SortOptions = SortOptionsParams.ByPrice,
                                                                               SectionId = filterParams.SectionId,
                                                                               SubsectionId = filterParams.SubsectionId,
                                                                               CategoryId = filterParams.CategoryId,
                                                                               CurrentPage = 1,
                                                                               PageSize = filterParams.PageSize
                                                                           },
                                                                         new { @class = "a_ads_list_sort_params" })

                            </span>
                        </li>

                        <li @if (filterParams.SortOptions == SortOptionsParams.ByDate) { @: class="a"
                                                            }>

                            <img class="ciSortL" src="/Images/System/ciSortL.png">
                            <img class="ciSortR" src="/Images/System/ciSortR.png">
                            <span>
                                @Html.ActionLink("дате", "AnnouncementList", new
                                                                            {
                                                                                IsEnabledFilter = filterParams.IsEnabledFilter,
                                                                                CityId = filterParams.CityId,
                                                                                PriceStart = filterParams.PriceStart,
                                                                                PriceEnd = filterParams.PriceEnd,
                                                                                HasPhoto = filterParams.HasPhoto,
                                                                                HasAuction = filterParams.HasAuction,
                                                                                SortOrder = filterParams.SortOrder,
                                                                                SortOptions = SortOptionsParams.ByDate,
                                                                                SectionId = filterParams.SectionId,
                                                                                SubsectionId = filterParams.SubsectionId,
                                                                                CategoryId = filterParams.CategoryId,
                                                                                CurrentPage = 1,
                                                                                PageSize = filterParams.PageSize
                                                                            }, new { @class = "a_ads_list_sort_params" })
                        </span>
                    </li>

                    <li @if (filterParams.SortOptions == SortOptionsParams.ByName) { @: class="a"
                                                        }>
                        <img class="ciSortL" src="/Images/System/ciSortL.png">
                        <img class="ciSortR" src="/Images/System/ciSortR.png">
                        <span>
                            @Html.ActionLink("названию", "AnnouncementList", new
                                                                            {
                                                                                IsEnabledFilter = filterParams.IsEnabledFilter,
                                                                                CityId = filterParams.CityId,
                                                                                PriceStart = filterParams.PriceStart,
                                                                                PriceEnd = filterParams.PriceEnd,
                                                                                HasPhoto = filterParams.HasPhoto,
                                                                                HasAuction = filterParams.HasAuction,
                                                                                SortOrder = filterParams.SortOrder,
                                                                                SortOptions = SortOptionsParams.ByName,
                                                                                SectionId = filterParams.SectionId,
                                                                                SubsectionId = filterParams.SubsectionId,
                                                                                CategoryId = filterParams.CategoryId,
                                                                                CurrentPage = 1,
                                                                                PageSize = filterParams.PageSize
                                                                            }, new { @class = "a_ads_list_sort_params" })
                    </span>
                </li>
            </ul>
        </div>

        <div class="retSort
             @if (filterParams.SortOrder == SortOrderParams.Descending) { @: down
                                     } else { @: up
                                     }
             ">

            @if (filterParams.SortOrder == SortOrderParams.Descending)
            {
                @Html.ActionLink("по возрастанию", "AnnouncementList", new
                                                                            {
                                                                                IsEnabledFilter = filterParams.IsEnabledFilter,
                                                                                CityId = filterParams.CityId,
                                                                                PriceStart = filterParams.PriceStart,
                                                                                PriceEnd = filterParams.PriceEnd,
                                                                                HasPhoto = filterParams.HasPhoto,
                                                                                HasAuction = filterParams.HasAuction,
                                                                                SortOrder = SortOrderParams.Ascending,
                                                                                SortOptions = filterParams.SortOptions,
                                                                                SectionId = filterParams.SectionId,
                                                                                SubsectionId = filterParams.SubsectionId,
                                                                                CategoryId = filterParams.CategoryId,
                                                                                CurrentPage = 1,
                                                                                PageSize = filterParams.PageSize
                                                                            })
                <span></span>
            }
            else
            {
                @Html.ActionLink("по убыванию", "AnnouncementList", new
                                                                            {
                                                                                IsEnabledFilter = filterParams.IsEnabledFilter,
                                                                                CityId = filterParams.CityId,
                                                                                PriceStart = filterParams.PriceStart,
                                                                                PriceEnd = filterParams.PriceEnd,
                                                                                HasPhoto = filterParams.HasPhoto,
                                                                                HasAuction = filterParams.HasAuction,
                                                                                SortOrder = SortOrderParams.Descending,
                                                                                SortOptions = filterParams.SortOptions,
                                                                                SectionId = filterParams.SectionId,
                                                                                SubsectionId = filterParams.SubsectionId,
                                                                                CategoryId = filterParams.CategoryId,
                                                                                CurrentPage = 1,
                                                                                PageSize = filterParams.PageSize
                                                                            })
                <span></span>
            }
        </div>
        <div class="ciShowBy">
            <span>Показать на странице:</span>
            <ul>
                @foreach (byte pageSize in ProjectConfiguration.Get.ItemsOnPage)
                {
                    <li @if (filterParams.PageSize == pageSize) { @: class="a"
                                                            }>
                        <span>
                            @Html.ActionLink(pageSize.ToString(), "AnnouncementList", new
                                                                                        {
                                                                                            IsEnabledFilter = filterParams.IsEnabledFilter,
                                                                                            CityId = filterParams.CityId,
                                                                                            PriceStart = filterParams.PriceStart,
                                                                                            PriceEnd = filterParams.PriceEnd,
                                                                                            HasPhoto = filterParams.HasPhoto,
                                                                                            HasAuction = filterParams.HasAuction,
                                                                                            SortOrder = filterParams.SortOptions,
                                                                                            SortOptions = filterParams.SortOptions,
                                                                                            SectionId = filterParams.SectionId,
                                                                                            SubsectionId = filterParams.SubsectionId,
                                                                                            CategoryId = filterParams.CategoryId,
                                                                                            CurrentPage = filterParams.CurrentPage,
                                                                                            PageSize = pageSize
                                                                                        })
                        </span>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="ciList doska">
        <ul>
            @if (ViewBag.Premium1Ads != null || ViewBag.Premium2Ads != null || ViewBag.Premium3Ads != null || Model.Count() != 0)
            {
                @* Premium1 Ads *@
                if (ViewBag.Premium1Ads != null)
                {
                    foreach (var premium in (IQueryable<Announcement>)ViewBag.Premium1Ads)
                    {
                        var dictionary = new ViewDataDictionary<string>();
                        dictionary.Add("class", "blueBord");
                        @Html.Partial("_Ad", premium, dictionary);
                    }
                }



                @* Premium2 Ads *@
                if (ViewBag.Premium2Ads != null)
                {
                    foreach (var premium in (IQueryable<Announcement>)ViewBag.Premium2Ads)
                    {
                        var dictionary = new ViewDataDictionary<string>();
                        dictionary.Add("class", "greenBord");
                        @Html.Partial("_Ad", premium, dictionary);
                    }
                }


                @* Premium3 Ads *@
                if (ViewBag.Premium3Ads != null)
                {
                    foreach (var premium in (IQueryable<Announcement>)ViewBag.Premium3Ads)
                    {
                        var dictionary = new ViewDataDictionary<string>();
                        dictionary.Add("class", "yellowBord");
                        @Html.Partial("_Ad", premium, dictionary);
                    }
                }




                @* Standart Ads *@
                foreach (var announcement in Model)
                {
                    var dictionary = new ViewDataDictionary<string>();
                    dictionary.Add("class", "");
                    @Html.Partial("_Ad", announcement, dictionary);
                }
            }
            else
            {
                <p class="searchInfo">Ничего не найдено. Попробуйте сформулировать запрос иначе.</p>
            }
        </ul>
    </div>




    <div class="pages">
        <ul class="fastNav">
            <img class="fastNavL" src="/Images/System/fastNavL.png" />
            <img class="fastNavR" src="/Images/System/fastNavR.png" />
            <a class="page-prev" href="javascript:void(0)"></a>
            
            @for (int page = 1; page <= Model.PageCount && page <= 7; page++)
            {
                <li>

                    @if (page == Model.PageNumber)
                    {
                        @Html.ActionLink(page.ToString(), "AnnouncementList", new
                                                                            {
                                                                                IsEnabledFilter = filterParams.IsEnabledFilter,
                                                                                CityId = filterParams.CityId,
                                                                                PriceStart = filterParams.PriceStart,
                                                                                PriceEnd = filterParams.PriceEnd,
                                                                                HasPhoto = filterParams.HasPhoto,
                                                                                HasAuction = filterParams.HasAuction,
                                                                                SortOrder = filterParams.SortOptions,
                                                                                SortOptions = filterParams.SortOptions,
                                                                                SectionId = filterParams.SectionId,
                                                                                SubsectionId = filterParams.SubsectionId,
                                                                                CategoryId = filterParams.CategoryId,
                                                                                CurrentPage = page,
                                                                                PageSize = filterParams.PageSize
                                                                            },
                                                                            new { @class = "hr" })
                    }
                    else
                    {
                        @Html.ActionLink(page.ToString(), "AnnouncementList", new
                                                                            {
                                                                                IsEnabledFilter = filterParams.IsEnabledFilter,
                                                                                CityId = filterParams.CityId,
                                                                                PriceStart = filterParams.PriceStart,
                                                                                PriceEnd = filterParams.PriceEnd,
                                                                                HasPhoto = filterParams.HasPhoto,
                                                                                HasAuction = filterParams.HasAuction,
                                                                                SortOrder = filterParams.SortOptions,
                                                                                SortOptions = filterParams.SortOptions,
                                                                                SectionId = filterParams.SectionId,
                                                                                SubsectionId = filterParams.SubsectionId,
                                                                                CategoryId = filterParams.CategoryId,
                                                                                CurrentPage = page,
                                                                                PageSize = filterParams.PageSize
                                                                            })
                    }
                </li>
            }

            @if (Model.PageCount > 14)
                        {
                            <li class="exppages"><a class="exppagesTitle" href="javascript:void(0)">все<img src="/Images/System/orArrow.png" /></a>
                            </li>
                        }
            
            @for (int page = Model.PageCount - 6; page <= Model.PageCount && page > 7; page++)
            {
                <li>

                    @if (page == Model.PageNumber)
                    {
                        @Html.ActionLink(page.ToString(), "AnnouncementList", new
                                                                            {
                                                                                IsEnabledFilter = filterParams.IsEnabledFilter,
                                                                                CityId = filterParams.CityId,
                                                                                PriceStart = filterParams.PriceStart,
                                                                                PriceEnd = filterParams.PriceEnd,
                                                                                HasPhoto = filterParams.HasPhoto,
                                                                                HasAuction = filterParams.HasAuction,
                                                                                SortOrder = filterParams.SortOptions,
                                                                                SortOptions = filterParams.SortOptions,
                                                                                SectionId = filterParams.SectionId,
                                                                                SubsectionId = filterParams.SubsectionId,
                                                                                CategoryId = filterParams.CategoryId,
                                                                                CurrentPage = page,
                                                                                PageSize = filterParams.PageSize
                                                                            },
                                                                            new { @class = "hr" })
                    }
                    else
                    {
                        @Html.ActionLink(page.ToString(), "AnnouncementList", new
                                                                            {
                                                                                IsEnabledFilter = filterParams.IsEnabledFilter,
                                                                                CityId = filterParams.CityId,
                                                                                PriceStart = filterParams.PriceStart,
                                                                                PriceEnd = filterParams.PriceEnd,
                                                                                HasPhoto = filterParams.HasPhoto,
                                                                                HasAuction = filterParams.HasAuction,
                                                                                SortOrder = filterParams.SortOptions,
                                                                                SortOptions = filterParams.SortOptions,
                                                                                SectionId = filterParams.SectionId,
                                                                                SubsectionId = filterParams.SubsectionId,
                                                                                CategoryId = filterParams.CategoryId,
                                                                                CurrentPage = page,
                                                                                PageSize = filterParams.PageSize
                                                                            })
                    }
                </li>
            }

            <a class="page-next" href="javascript:void(0)"></a>
        </ul>

        <div class="pageslider">
            <div class="pagesliderTop">
                <ul>
                    @for (int page = 1; page <= Model.PageCount; page++)
                    {
                        <li>

                            @if (page == Model.PageNumber)
                            {
                                @Html.ActionLink(page.ToString(), "AnnouncementList", new
                                                                            {
                                                                                IsEnabledFilter = filterParams.IsEnabledFilter,
                                                                                CityId = filterParams.CityId,
                                                                                PriceStart = filterParams.PriceStart,
                                                                                PriceEnd = filterParams.PriceEnd,
                                                                                HasPhoto = filterParams.HasPhoto,
                                                                                HasAuction = filterParams.HasAuction,
                                                                                SortOrder = filterParams.SortOptions,
                                                                                SortOptions = filterParams.SortOptions,
                                                                                SectionId = filterParams.SectionId,
                                                                                SubsectionId = filterParams.SubsectionId,
                                                                                CategoryId = filterParams.CategoryId,
                                                                                CurrentPage = page,
                                                                                PageSize = filterParams.PageSize
                                                                            },
                                                                            new { @class = "shr" })
                            }
                            else
                            {
                                @Html.ActionLink(page.ToString(), "AnnouncementList", new
                                                                            {
                                                                                IsEnabledFilter = filterParams.IsEnabledFilter,
                                                                                CityId = filterParams.CityId,
                                                                                PriceStart = filterParams.PriceStart,
                                                                                PriceEnd = filterParams.PriceEnd,
                                                                                HasPhoto = filterParams.HasPhoto,
                                                                                HasAuction = filterParams.HasAuction,
                                                                                SortOrder = filterParams.SortOptions,
                                                                                SortOptions = filterParams.SortOptions,
                                                                                SectionId = filterParams.SectionId,
                                                                                SubsectionId = filterParams.SubsectionId,
                                                                                CategoryId = filterParams.CategoryId,
                                                                                CurrentPage = page,
                                                                                PageSize = filterParams.PageSize
                                                                            })
                            }
                        </li>
                    }
                </ul>
            </div>
            @*<div class="alHScrollBar">
                <div class="alHScrollSlider" style="left: 0px;"></div>
            </div>*@
        </div>
    </div>
</td>
</tr>
</table>
</div>
<div class="middleBot"></div>
