@using System.Globalization
@model Reklama.ViewModels.Filters.FiltersViewModel

@{
    ViewBag.Title = "IndexMobile";
    Layout = "~/Views/_Layout/_Mobile.cshtml";
}

<div class="bg-silver">
    <div class="main-header">
        <h3 class="text-white">Фильтры</h3>
    </div>
    <div class="main-container px-3"  style="padding-top: 65px">
        <div class="row">
            @if (Model.IsFiltered)
            {
                <div class="col-3">
                    <a href="@Url.Action("IndexMobile", "Home")" class="btn btn-lg btn-outline-primary w-100"><i class="fa fa-home"></i></a>
                </div>
                <div class="col-6 text-center px-0 mx-0">
                    <div class="alert alert-primary mb-2">Всего найдено: @(Model.Realties != null ? @Model.Realties.Count() : 0)</div>
                </div>
                <div class="col-3">
                    <a href="@Url.Action("FiltersMobile", "Home")" class="btn btn-lg btn-outline-success w-100"><i class="fa fa-filter"></i></a>
                </div>
            }
            else
            {
                <div class="col-12">
                    <form id="formCreate" action="/Home/FiltersMobile" method="post">
                        <div class="form-group">
                            <label for="city-field">Город:</label>
                            @Html.DropDownListFor(x => x.CityId, new SelectList((Model.Cities), "Id", "Name"), "Выберите город", new { @class = "form-control", id = "city-field" })
                        </div>
                        <div class="form-group">
                            <label for="description-field">Поиск по тексту объявления:</label>
                            @Html.TextBoxFor(x => x.Description, new { Class = "form-control", id = "description-field" })
                        </div>
                        <div class="form-group">
                            <label for="rooms-field">Кол-во комнат:</label>
                            @*@Html.TextBoxFor(x => x.Rooms, new { Class = "form-control", id = "rooms-field", type = "number", min = "0", max = "999" })*@
                            <div class="btn-group w-100" role="group" aria-label="Basic example">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    if (!string.IsNullOrEmpty(Model.Rooms) && Model.Rooms.Contains(i.ToString()))
                                    {
                                        <button type="button" class="btn btn-primary btn-room-count-multy active" data-count="@i">@i</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-outline-default btn-room-count-multy" data-count="@i">@i</button>
                                    }
                                }
                                <button type="button" class="btn btn-default btn-room-count-multy" data-count="0">>5</button>
                            </div>
                            @Html.HiddenFor(x => x.Rooms, new { @id = "room-count-field-multy", @autocomplete = "off" })
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <label for="square-from-field">Площадь от м<sup>2</sup>:</label>
                                    @Html.TextBoxFor(x => x.SquareFrom, new { Class = "form-control", type = "number", id = "square-from-field", min = "0", max = "999" })
                                </div>
                                <div class="col-6">
                                    <label for="square-to-field">Площадь до м<sup>2</sup>:</label>
                                    @Html.TextBoxFor(x => x.SquareTo, new { Class = "form-control", type = "number", id = "square-to-field", min = "0", max = "999" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    @*<label for="level-from-field">Этаж от:</label>*@
                                    @*@Html.TextBoxFor(x => x.LevelFrom, new { Class = "form-control", type = "number", id = "level-from-field", min = "0", max = "999" })*@
                                    <div class="form-group">
                                        <label for="room-count-field">Этаж не ниже:</label>
                                        @Html.DropDownListFor(x => x.LevelFrom, Model.FlorsList(), new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.LevelFrom)
                                    </div>
                                </div>
                                <div class="col-6">
                                    @*<label for="level-to-field">Этаж до:</label>*@
                                    @*@Html.TextBoxFor(x => x.LevelTo, new { Class = "form-control", type = "number", id = "level-to-field", min = "0", max = "999" })*@
                                    <div class="form-group">
                                        <label for="room-count-field">Этаж не выше:</label>
                                        @Html.DropDownListFor(x => x.LevelTo, Model.FlorsList(), new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.LevelTo)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="m-0 font-weight-bold"><label for="city-field">Упорядочить по:</label></p>
                            <div class="btn-group w-100" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-direction-sort @(Model.DirectionSort == 2 ? "btn-primary active" : "btn-outline-default")" data-sort="2">Убыванию</button>
                                <button type="button" class="btn btn-direction-sort @(Model.DirectionSort == 1 ? "btn-primary active" : "btn-outline-default")" data-sort="1">Возрастанию</button>
                            </div>
                            @Html.HiddenFor(x => x.DirectionSort, new { @id = "direction-sort-field", @autocomplete = "off" })
                            @*<div class="form-check form-check-inline">
                                @Html.RadioButtonFor(x => x.DirectionSort, 2, new { @class = "form-check-input", id = "radio2" })
                                <label class="form-check-label" for="radio2">Убыванию</label>
                            </div>
                            <div class="form-check form-check-inline">
                                @Html.RadioButtonFor(x => x.DirectionSort, 1, new { @class = "form-check-input", id = "radio1" })
                                <label class="form-check-label" for="radio1">Возрастанию</label>
                            </div>*@
                        </div>
                        <div class="form-group">
                            <p class="m-0 font-weight-bold"><label for="city-field">Сортировать по:</label></p>
                            <div class="btn-group w-100" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-field-sort @(Model.FieldSort == 2 ? "btn-primary active" : "btn-outline-default")" data-sort="2">Дата</button>
                                <button type="button" class="btn btn-field-sort @(Model.FieldSort == 1 ? "btn-primary active" : "btn-outline-default")" data-sort="1">Цена</button>
                                <button type="button" class="btn btn-field-sort @(Model.FieldSort == 3 ? "btn-primary active" : "btn-outline-default")" data-sort="3">Количеству м<sup>2</sup></button>
                                <button type="button" class="btn btn-field-sort @(Model.FieldSort == 4 ? "btn-primary active" : "btn-outline-default")" data-sort="4">Цена за м<sup>2</sup></button>
                            </div>
                            @Html.HiddenFor(x => x.FieldSort, new { @id = "field-sort-field", @autocomplete = "off" })
                            @*<div class="form-check form-check-inline">
                                @Html.RadioButtonFor(x => x.FieldSort, 2, new { @class = "form-check-input", id = "radio4" })
                                <label class="form-check-label" for="radio4">Дата</label>
                            </div>
                            <div class="form-check form-check-inline">
                                @Html.RadioButtonFor(x => x.FieldSort, 1, new { @class = "form-check-input", id = "radio3" })
                                <label class="form-check-label" for="radio3">Цена</label>
                            </div>
                            <div class="form-check form-check-inline">
                                @Html.RadioButtonFor(x => x.FieldSort, 3, new { @class = "form-check-input", id = "radio5" })
                                <label class="form-check-label" for="radio5">Количеству м<sup>2</sup></label>
                            </div>
                            <div class="form-check form-check-inline">
                                @Html.RadioButtonFor(x => x.FieldSort, 4, new { @class = "form-check-input", id = "radio6" })
                                <label class="form-check-label" for="radio6">Цене за м<sup>2</sup></label>
                            </div>*@
                        </div>
                        <div class="form-group">
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-6">
                                    <a class="btn btn-lg btn-outline-secondary w-100" href="@Url.Action("FiltersMobile", "Home")">
                                        <i class="fa fa-redo-alt"></i> Сбросить
                                    </a>
                                </div>
                                <div class="col-6">
                                    <button type="submit" class="btn btn-lg btn-primary w-100">
                                        <i class="fa fa-filter"></i> Найти
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            }
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        @if (Model.IsFiltered)
                        {
                            if (Model.Realties != null && Model.Realties.Any())
                            {
                                <div class="main-pub-items">
                                    @foreach (var realty in Model.Realties)
                                    {
                                        @Html.Partial("~/Views/Partial/_RealtyItem.cshtml", realty)
                                    }
                                </div>

                            }
                            else
                            {
                                <h3 class="text-center">Нет данных</h3>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @*<script src="~/Scripts/jquery.validate.min.js"></script>*@
    @*<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@



    @*@Scripts.Render("~/bundles/jqueryval")*@
    @* @Scripts.Render("~/Scripts/ajaxupload.js")*@
    @*@Scripts.Render("~/Scripts/Realty.js")*@
    @*@Scripts.Render("~/Scripts/common.js")*@

    @*@Scripts.Render("~/Scripts/jquery-te-1.4.0.min.js")*@
    @*@Styles.Render("~/Content/jquery-te-1.4.0.css")*@



    @*<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
        <script>
            jQuery(document).ready(function () {
                jQuery('#rooms-field').spinner();
            });
        </script>*@
}

@section Styles {
    @*<link href="~/Content/jquery-ui.css" rel="stylesheet" />*@
}
