@using Infrastructure.Helpers
@using Reklama;
@using Domain.Enums
@using Reklama.Models.ViewModels.Shared
@{
    Layout = null;
    var selectedSiteCategory = (ViewBag.SelectedSiteCategory != null) ? (CategorySearch)ViewBag.SelectedSiteCategory : CategorySearch.Index;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>www.reklama.tm</title>
    <link rel="shortcut icon" href="/Images/System/favicon.ico">
    <link type="text/css" href="@Url.Content("~/Content/Site.css")" rel="stylesheet">
    <link type="text/css" href="@Url.Content("~/Content/Main.css")" rel="stylesheet">
    <link type="text/css" href="@Url.Content("~/Content/buttons.css")" rel="stylesheet">
    <link type="text/css" href="@Url.Content("~/Scripts/fancybox/jquery.fancybox.css")" rel="stylesheet">
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/regionSections.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/reactive.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.textshadow.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.equal-height-columns.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.mousewheel-3.0.6.pack.js")"></script>
   
    <script type="text/javascript" src="@Url.Content("/Scripts/fancybox/jquery.fancybox.js")"></script>

</head>
    <body>
        @{ Html.RenderAction("GetTopBanner", "Banners");}
        <div class="wrap" style="margin-top: 20px;">
            <div class="wrapInner">
                <div class="header">
                    <div class="headerBot">
                        <div class="logo">
                            <a href="/">
                                <img src="/Images/System/logo1.png" />
                            </a>
                            @{ Html.RenderAction("UnderLogoMenu", "Menu"); }
                        </div>
                        @Html.Partial("./RegionSelector")

                        <p style="float: left"><span>* </span>@ViewBag.Slogan</p>
                        
                        @Html.Partial("_SearchPartial", (ViewBag.SearchViewModel != null ? new SearchViewModel() { Name = ViewBag.SearchViewModel.Name, Category = ViewBag.SearchViewModel.Category, OnlyByName = ViewBag.SearchViewModel.OnlyByName } : (new SearchViewModel() { Category = selectedSiteCategory })))

                        @Html.Partial("_LoginMenuPartial")


                        <div class="hMenu">
                            <img class="hMenuL" src="@Url.Content("~/Images/System/hMenuL.png")" />
                            <img class="hMenuR" src="@Url.Content("~/Images/System/hMenuR.png")" />
                            <table>
                                <tr>
                                    <td>@Html.ActionLink("Товары", "Index", "Catalog")</td>
                                    <td><a href="http://jay.reklama.tm/">Недвижимость</a></td>
                                    <td>@Html.ActionLink("Объявления", "List", "Announcement")</td>
                                    <td>@Html.ActionLink("Авто", "List", "Announcement", new { SectionId = 3 }, null)</td>
                                    <td>@Html.ActionLink("Статьи", "Index", "Article", new{v = "1"}, new {})</td>
                                    @*<td class="f"><a href="javascript:void(0)">Форум</a></td>*@
                                </tr>
                            </table>
                        </div>


                        @* Выпадающий список с меню *@
                        @{ Html.RenderAction("AllsDropDownMenu", "Menu"); }

                    </div>
                </div>
                <div class="middle">
                    <div class="backTop"><a href="javascript:void(0)" title="Вверх"></a></div>
                    <div style="padding-top: 15px;" align="center"><a href="@Url.Action("Create", "Announcement")">Разместить объявление за 60 секунд</a></div>
                    <div class="popCatalogue">
                        <div class="popCatalogueTop AddStylePopCatalogueTop">

                            @{ Html.RenderAction("PopularSectionsInCatalog", "Home"); }

                            @{ Html.RenderAction("NewInCatalog", "Home"); }

                        </div>
                        <div class="popCatalogueBot">
                            <img src="@Url.Content("~/Images/System/allCatBg.png")" />
                            @Html.ActionLink("Все разделы каталога", "Catalog", "Product")
                        </div>
                    </div>
                    @*<div class="banner-960-100">
                    </div>*@
                    @{ Html.RenderAction("PopularProducts", "Home"); }
                
                    @{ Html.RenderAction("GetMain1Banner", "Banners"); }

                    @{ Html.RenderAction("PopularAnnouncement", "Home"); }

                    @{ Html.RenderAction("ArticlesAndReviews", "Home"); }

                    @{ Html.RenderAction("GetMain2Banner", "Banners"); }
                    @{ Html.RenderAction("GetMain3Banner", "Banners"); }

                    @{ Html.RenderAction("AnnouncementBlock", "Home"); }
                    @{ Html.RenderAction("AutoBlock", "Home"); }
                    @{ Html.RenderAction("RealtyBlock", "Home"); }

                    <div class="middleBot"></div>
                </div>
                <div class="clear"></div>
                <div class="footer">
                    <div class="footerTop"></div>
                    <div class="bMenu">
                        <table>
                            <tr>
                                <td>@Html.ActionLink("Товары", "Index", "Catalog")</td>
                                <td><a href="http://jay.reklama.tm/">Недвижимость</a></td>
                                <td>@Html.ActionLink("Объявления", "List", "Announcement")</td>
                                <td>@Html.ActionLink("Авто", "List", "Announcement", new { SectionId = 3 }, null)</td>
                                <td>@Html.ActionLink("Статьи", "Index", "Article")</td>
                                @*<td><a href="javascript:void(0)">Форум</a></td>*@
                            </tr>
                        </table>
                    </div>
                    <div class="copyright">
                        <div class="bLogo">
                            <a href="@Url.Content("~/")">
                                <img src="@Url.Content("~/Images/System/logo1.png")" /></a>
                        </div>
                        <p>www.reklama.tm</p>
                        <p>&copy; 2012</p>
                    </div>
                    <div class="footerInfo">

                        @* Footer Menu *@
                        @{ Html.RenderAction("FooterMenu", "Menu"); }

                        @*                    <div class="footerStat">
                        Вчера:
                        <span>12 300</span>
                        поданных объявлений, 
                        <span>448 147</span>
                        посещений,
                        <span>4 457 356</span>
                        просмотров страниц.
                    </div>
                    <div class="bSiteMap">
                        <a href="javascript:void(0)">Карта сайта</a>
                    </div>*@

                        @* FooterBottomMenu *@
                        @try { Html.RenderAction("FooterBottomMenu", "Menu"); }
                        catch { }
                        <!-- Yandex.Metrika informer -->
                        <a href="http://metrika.yandex.ru/stat/?id=21414034&amp;from=informer"
                           target="_blank" rel="nofollow">
                            <img src="//bs.yandex.ru/informer/21414034/3_0_FF6F20FF_FF4F00FF_1_pageviews"
                                 style="width: 88px; height: 31px; border: 0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:21414034,lang:'ru'});return false}catch(e){}" /></a>
                        <!-- /Yandex.Metrika informer -->
                        @if (User.IsInRole("Administrator"))
                        {
                            @Html.ActionLink("Администраторская", "General", "Admin", null, new { @class = "error" })
                        }
                        else if (User.IsInRole("Moderator"))
                        {
                            @Html.ActionLink("Модераторская", "PageIndex", "Admin", null, new { @class = "error" })
                        }

                    </div>
                    @{ Html.RenderAction("ViewSocialLinks", "Links"); }

                    <div class="reactive">
                        <p>
                            <br />
                            <a href="javascript: void(0)">Дизайн от</a>
                        </p>
                        <a href="javascript: void(0)">
                            <img src="@Url.Content("~/Images/System/reactive.png")" /></a>
                    </div>

                </div>
            </div>
        </div>
        @Html.Partial("SimplePingAllSubDomains")
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function () {
                    try {
                        w.yaCounter21414034 = new Ya.Metrika({
                            id: 21414034,
                            webvisor: true,
                            clickmap: true,
                            trackLinks: true,
                            accurateTrackBounce: true
                        });
                    } catch (e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript>
            <div>
                <img src="//mc.yandex.ru/watch/21414034" style="position: absolute; left: -9999px;" alt="" />
            </div>
        </noscript>
        <!-- /Yandex.Metrika counter -->
    </body>
</html>