@model Reklama.Models.ViewModels.Announcement.AnnouncementCommentViewModel
@using CaptchaMvc.HtmlHelpers

@*<script src="~/Scripts/jquery-1.7.1.min.js"></script>*@
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="itemResponseAdd">
    <em>Оставить отзыв</em>
    @using (Html.BeginForm("Create", "AnnouncementComment", FormMethod.Post))
    {
        @Html.ValidationSummary()

        <div class="respArea">
            @Html.TextAreaFor(c => c.Comment)
        </div>
        <div class="clear"></div>
        <div class="respRules">
            <p>рекомендуем ознакомиться -</p>
            <p>
                @{ Html.RenderAction("LinkToOneOfMainConfigPage", "Links", new { mainPageName = "UserAgreement" }); }
            </p>
        </div>
        @Html.EditorFor(c => c.CommentId)
        @Html.EditorFor(c => c.AnnouncementId)
        @Html.AntiForgeryToken()
        <div class="respSubm">
            @if(User.Identity.IsAuthenticated)
            {
                <input type="submit" value="" />
            }
            else
            {
                <div class="itemNothingResponse">Для отправки комментариев необходимо @Html.ActionLink("авторизоваться", "Login", "Account", new { returnUrl = Url.Action("Details", "Announcement", new { id = Model.AnnouncementId }) }, null)</div>
            }
        </div>

    }
</div>
