@model Reklama.Models.ViewModels.Shared.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account"))
{
    <div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
    </div>
    <div>
        <span>@Html.LabelFor(m => m.OldPassword)</span>
        @Html.PasswordFor(m => m.OldPassword)
    </div>
    <div>
        <span>@Html.LabelFor(m => m.NewPassword)</span>
        @Html.PasswordFor(m => m.NewPassword)
    </div>
    <div>
        <span>@Html.LabelFor(m => m.ConfirmPassword)</span>
        @Html.PasswordFor(m => m.ConfirmPassword)
    </div>
    <div class="userSave">
        <input type="submit" value="Изменить пароль" />
    </div>
}
