@model PagedList.IPagedList<Reklama.Data.Entities.Product>
@using Reklama.Models.ViewModels.Catalog;

@{
    //var secondCategory = (Domain.Entity.Catalogs.CatalogSecondCategory)ViewBag.SecondCategory;
    //var filter = (Reklama.Models.ViewModels.Catalog.ProductsFilterParams)ViewBag.Filter;
    var searchViewModel = (Reklama.Models.ViewModels.Shared.SearchViewModel)ViewBag.SearchViewModel;
    ViewBag.Title = "Результаты поиска";
}

<div class="catalogInner">
    <table>
        <tr>
            <td class="ci2">
                <img width="10" height="1" border="0" src="/Images/System/s.png" />
            </td>
            <td class="ci3" valign="top">
                <div class="crumbs">
                    <a href="/">Главная страница</a>
                    <span class="arr">&rarr;</span>
                    @Html.ActionLink("Каталог товаров", "Index", "Catalog")
                    <span class="arr">&rarr;</span>
                    Результаты поиска
                </div>
                <h1>Результаты поиска</h1>
                
                <div class="ciList">
                    <ul>
                        @if(Model.Count > 0)
                        {
                            foreach (var product in Model)
                            {
                                <li>
                                    <table>
                                        <tr>
                                            <td class="ciImg">
                                                <a href="@Url.Action("Details", "Product", new {id = product.ID})">
                                                    @Html.Partial("_ProductTitularImage", product.ProductImage)
                                                </a>
                                            </td>
                                            <td class="ciText">
                                                <div>
                                                    <span class="ciName">@Html.ActionLink(product.Title, "Details", "Catalog", new {id = product.ID}, null)</span>
                                                    <p>@product.SmallDescription ...@Html.ActionLink("Читать подробнее", "Details", "Catalog", new {id = product.ID}, null)</p>
                                                    <div class="ciRate">
                                                        <span>
                                                            <img src="/Images/System/file.png" />
                                                            @Html.ActionLink("Характеристики", "Details", "Catalog", new {id = product.ID}, null)
                                                        </span>
                                                        <span>
                                                            <img src="/Images/System/foto.png" />
                                                            @Html.ActionLink("Фото", "Photos", "Catalog", new { id = product.ID }, null)
                                                            <sup>@(product.ProductImage.Count + 1)</sup>
                                                        </span>
                                                        <span>
                                                            @if (product.ReviewLink != null && !product.ReviewLink.IsEmpty())
                                                            {
                                                                <img src="/Images/System/page.png" />
                                                                <a href="@product.ReviewLink">Обзор</a>
                                                            }
                                                        </span>
                                                        <span>
                                                            <img src="/Images/System/book.png" />
                                                            @Html.ActionLink("Отзывы", "Feedbacks", "Catalog", new { id = product.ID }, null)
                                                            <sup>@product.ProductFeedback.Count</sup>
                                                        </span>
                                                        @*                                                                <span>
                                                                    <img src="/Images/System/talk.png" />
                                                                    <a href="javascript:void(0)">Обсуждениe</a>
                                                                    <sup>88</sup>
                                                                </span>*@
                                                    </div>
                                                </div>
                                            </td>
                                        
                                            <td class="ciOffers">
                                                @Html.Partial("_ProductCurrencyPartialList", product)
                                                @Html.Partial("_BuySellersCount", product)
                                            </td>
                                        </tr>
                                    </table>
                                </li>
                            }
                        }
                        else
                        {
                            <p class="searchInfo">Ничего не найдено. Попробуйте сформулировать запрос иначе.</p>
                        }
                    </ul>
                </div>



                <div class="pages">
                    <ul class="fastNav">
                        <img class="fastNavL" src="/Images/System/fastNavL.png" />
                        <img class="fastNavR" src="/Images/System/fastNavR.png" />
                        <a class="page-prev" href="javascript:void(0)"></a>

                        @for (int page = 1; page <= Model.PageCount && page <= 7; page++)
                        {
                            <li>

                                @if (page == Model.PageNumber)
                                {
                                    @Html.ActionLink(page.ToString(), "Search", new
                                                                            {
                                                                                name = searchViewModel.Name,
                                                                                onlyByName = searchViewModel.OnlyByName,
                                                                                currentPage = page,
                                                                                pageSize = searchViewModel.PageSize,
                                                                                category = searchViewModel.Category
                                                                            },
                                                                            new { @class = "hr" })
                                }
                                else
                                {
                                    @Html.ActionLink(page.ToString(), "Search", new
                                                                            {
                                                                                name = searchViewModel.Name,
                                                                                onlyByName = searchViewModel.OnlyByName,
                                                                                currentPage = page,
                                                                                pageSize = searchViewModel.PageSize,
                                                                                category = searchViewModel.Category
                                                                            })
                                }
                            </li>
                        }
                        
                        @if (Model.PageCount > 14)
                        {
                            <li class="exppages"><a class="exppagesTitle" href="javascript:void(0)">все<img src="/Images/System/orArrow.png" /></a>
                            </li>
                        }
                        
                        @for (int page = Model.PageCount - 6; page <= Model.PageCount && page > 7; page++)
                        {
                            <li>

                                @if (page == Model.PageNumber)
                                {
                                    @Html.ActionLink(page.ToString(), "Search", new
                                                                            {
                                                                                name = searchViewModel.Name,
                                                                                onlyByName = searchViewModel.OnlyByName,
                                                                                currentPage = page,
                                                                                pageSize = searchViewModel.PageSize,
                                                                                category = searchViewModel.Category
                                                                            },
                                                                            new { @class = "hr" })
                                }
                                else
                                {
                                    @Html.ActionLink(page.ToString(), "Search", new
                                                                            {
                                                                                name = searchViewModel.Name,
                                                                                onlyByName = searchViewModel.OnlyByName,
                                                                                currentPage = page,
                                                                                pageSize = searchViewModel.PageSize,
                                                                                category = searchViewModel.Category
                                                                            })
                                }
                            </li>
                        }

                        <a class="page-next" href="javascript:void(0)"></a>
                    </ul>

                    <div class="pageslider">
                        <div class="pagesliderTop">
                            <ul>
                                @for (int page = 1; page <= Model.PageCount; page++)
                                {
                                    <li>

                                        @if (page == Model.PageNumber)
                                        {
                                            @Html.ActionLink(page.ToString(), "Search", new
                                                                            {
                                                                                name = searchViewModel.Name,
                                                                                onlyByName = searchViewModel.OnlyByName,
                                                                                currentPage = page,
                                                                                pageSize = searchViewModel.PageSize,
                                                                                category = searchViewModel.Category
                                                                            },
                                                                            new { @class = "shr" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink(page.ToString(), "Search", new
                                                                            {
                                                                                name = searchViewModel.Name,
                                                                                onlyByName = searchViewModel.OnlyByName,
                                                                                currentPage = page,
                                                                                pageSize = searchViewModel.PageSize,
                                                                                category = searchViewModel.Category
                                                                            })
                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                        @*<div class="alHScrollBar">
                            <div class="alHScrollSlider" style="left: 0px;"></div>
                        </div>*@
                    </div>
                </div>



            </td>
        </tr>
    </table>
</div>
<div class="middleBot"></div>
