@using System.Globalization
@model Reklama.Models.ViewModels.Shared.PriceCurrencyViewModel

@if (Model.Price.HasValue)
{
    <div class="mPrice">
        <img class="mPriceL" src="/Images/System/mPriceL.png" />
        <img class="mPriceR2" src="/Images/System/mPriceR2.png" />

        @*@string.Format("{0:f2}", Model.Price)
        <span>@announcement.Currency.Name</span>*@
        
        <label class="price_value" value="@Model.Price.Value.ToString(CultureInfo.InvariantCulture)">@Math.Round(((decimal)Model.Currency.Rate * Model.Price.Value), 2).ToString("0.#####", CultureInfo.InvariantCulture)</label>
        <span class="price_list_click">
            <span>@Model.Currency.Name</span>

        @try{ Html.RenderAction("SwitcherList", "Currency"); }catch{}
        </span>
    </div>
}
<div class="type">
    @if (Model.IsAuction)
    {
        <span class="auction big">ТОРГ</span>
    }
</div>

@Scripts.Render("~/Scripts/CurrencyList.js")