@model Domain.Entity.Realty.Realty
@using Domain.Entity.Realty
@using Reklama.Models.Shared
@using Reklama.Models.ViewModels.Shared
@using PagedList
@using Reklama.Models.SortModels
@using Domain.Enums
@{
    ViewBag.Title = "Reklama.tm  " + Model.Name;
}
<div class="catalogInner">
    <table>
        <tr>
            <td class="ci1 blue">
                <div class="placeGoods sec">
                    <a href="http://reklama.tm/Realty/Create"></a>
                </div>
                @Html.Partial("_RealtyCategories", (object)ViewBag.Categories)
                @Html.Partial("_RealtySortByParams", (object)ViewBag.SortModel)

                @{
                    Html.RenderAction("GetUnderFiltersBanner", "Banners");
                }

                @Html.Partial("_YandexDirectPartial")
            </td>
            <td class="ci2">
                <img width="10" height="1" border="0" src="~/Images/System/s.png" />
            </td>
            <td class="ci3" valign="top">
                <div class="crumbs">
                    @Html.ActionLink("Главная страница", "Index", "Home")
                    <span class="arr">&rarr;</span>
                    @Html.ActionLink("Недвижимость", "List", "Realty")
                    <span class="arr">&rarr;</span>
                    @Model.Name
                </div>
                <div class="clear"></div>


                <div class="ciPage">
                    <div class="itemInfo">
                        <div class="itemInfoTop">
                            <div class="itemInfoTopL">
                                <div><span>@Model.Name</span>№@Model.Id</div>
                                <p>@Model.RealtySection.Name</p>
                            </div>
                            <div class="itemInfoTopR ciOffers">
                                @if (Model.ForDays)
                                {
                                    <p>в сутки</p>
                                }
@* PriceCurrency Block *@
                                @Html.Partial("_PriceCurrencyPartialDetails", new PriceCurrencyViewModel() { IsAuction = Model.IsAuction, Price = Model.Price, Currency = Model.Currency })
                            </div>
                        </div>
                        <div class="itemInfoBtm">
                            <p>@Model.SmallDescription</p>
                            @* Link for Add-To-Bookmarks *@
                            @if ((bool)ViewBag.IsIssetInBookmark)
                            {
                                <p>В закладках</p>
                            }
                            else
                            {
                                if (WebSecurity.IsAuthenticated)
                                {
                                <div id="addToBookmarks" identifier="@Model.Id" category="@CategorySearch.Realty">
                                    <a class="addToBook" href="#">
                                        <img src="/Images/System/plus.gif" />
                                        <span>Добавить в закладки</span>
                                    </a>
                                </div>
                                }
                            }

                            @Html.Partial("_SocialWidgetsPartial", new SocialWidgetsViewModel()
                            {
                                Title = Model.Name,
                                Description = Model.SmallDescription,
                                ImageLink = (Model.Photos != null && Model.Photos.Count > 0) ? "http://reklama.tm" + string.Concat('/', Reklama.ProjectConfiguration.Get.FilePaths["users"] + Model.Photos.ElementAt(0).Link) : "/Images/System/logo1.png",
                                Link = "http://reklama.tm" + Url.Action("Details", "Realty", new { id = Model.Id }),
                                IsInline = true
                            })
                        </div>
                    </div>
                    <div class="sellerInfo">
                        <img class="selBtm" src="~/Images/System/selBtm.gif" />
                        <div class="sellerInfoL">
                            <div class="sellerPhoto">
                                <img src="@((Model.UserProfile.AvatarLink != null) ? "/Images/Users/Avatars/" + Model.UserProfile.AvatarLink : "/Images/System/userAv_large.png")" />
                            </div>
                            
                            <div class="sellerText">
                                <div><a href="#">@Model.ContactName</a></div>
                                 @if (Model.Phone != null && !String.IsNullOrEmpty(Model.Phone.Trim()))
                                {
                                    <p>
                                        Телефон:
                                        <a class="tel" href="tel:@Model.Phone">@Model.Phone</a>
                                    </p>
                                }
                               
                                @if (Model.ContactEmail != null && !String.IsNullOrEmpty(Model.ContactEmail.Trim()))
                                {
                                    <p>E-mail:&nbsp;<a href="mailto:@Model.ContactEmail">@Model.ContactEmail</a></p>
                                    
                                }
                            </div>
                        </div>
                        <div class="sellerInfoM@(String.IsNullOrWhiteSpace(Model.ContactName) ? " withoutName" : "")">
                            <ul>
                                <li>
                                    <img src="~/Images/System/sel1.gif" /><a href="@Url.Action("Index", "Profile", new { id = Model.UserId })"><span>Профиль</span></a></li>
                                <li>
                                    <img src="~/Images/System/sel2.gif" /><a href="@Url.Action("Create", "PrivateMessage", new { recepientId = Model.UserId })"><span>Написать сообщение</span></a></li>
                                <li>
                                    <img src="~/Images/System/sel3.gif" /><span>Город:@Model.City.Name</span></a></li>
                                @if (Model.AgencyName != null)
                                {
                                    <li><a href="#">
                                        <img src="~/Images/System/sel3.gif" /><span>Агенство:@Model.AgencyName</span></a></li>
                                }
                            </ul>
                        </div>
                        <div class="sellerInfoR">
                            <div>
                                <img src="~/Images/System/sel4.gif" />размещено -<span>@string.Format("{0:dd.MM.yyyy HH:mm}", Model.CreatedAt)</span>
                            </div>
                            <div>
                                <img src="~/Images/System/sel5.gif" />просмотров -<em>@Model.Views</em>
                            </div>
                            @if (User.Identity.IsAuthenticated || ViewBag.IsUserCanEditRealty)
                            {
                                if (WebSecurity.CurrentUserId == Model.UserId || User.IsInRole("Administrator") || User.IsInRole("Moderator") || ViewBag.IsUserCanEditRealty)
                                {
                                <div>
                                    <img src="/Images/System/sel2.gif" />
                                    <a href="http://reklama.tm/Realty/Edit/@Model.Id">редактировать</a>
                                </div>
                                <div>
                                    <img src="/Images/System/sel2.gif" />
                                    @Html.ActionLink("удалить", "Delete", "Realty", new { id = Model.Id }, null)
                                </div>
                                }
                            }
                            <div class="UpRealtyBlock">
                                @if ((Model.UserId != -1 && WebSecurity.CurrentUserId == Model.UserId) || ViewBag.IsUserCanEditRealty || User.IsInRole("Administrator"))
                                {
                                    var time = DateTime.Now - Model.UpTime;
                                    time = TimeSpan.FromHours(ViewBag.UpTimeHours) - time;
                                    using (Html.BeginForm("Up", "Realty"))
                                    {
                                        @Html.HiddenFor(x => x.Id);
                                        if (Model.UpTime <= DateTime.Now.AddHours(-ViewBag.UpTimeHours) || User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                                        {
                                    
                                    <input type="submit" value="Поднять объявление" />
                                                              if ((User.IsInRole("Administrator") || User.IsInRole("Moderator")) && time.TotalSeconds > 0)
                                                              {
                                    <div style="margin-right: 0;">
                                        <p><b>Поднять объявление можно будет через:  @time.Hours ч. @time.Minutes м.</b></p>
                                    </div>
                                                              }
                                        }
                                        else
                                        {
                                    <p><b>Поднять объявление можно будет через:  @time.Hours ч. @time.Minutes м.</b></p>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="itemInfoFull">
                        <pre class="itemInfoFull-contailner"> @Html.Raw(Model.Description) </pre>
                    </div>
                    <div class="itemInfoPoints">
                        <div class="pointY pointW">@Model.RealtyCategory.Name </div>
                        @if (Model.Street != null)
                        { <div class="pointY pointW">Улица: @Model.Street</div>}
                        @if (Model.RoomsCount != null)
                        { <div class="pointY pointW">Количество комнат: @((Model.RoomsCount > 0) ? Model.RoomsCount.ToString() : ">5")</div>}
                        @if (Model.Square != null)
                        { <div class="pointY pointW">Площадь: @Model.Square м<sup>2</sup> </div>}
                        @if (Model.FloorCount != null)
                        { <div class="pointY pointW">Этажей в доме: @Model.FloorCount</div>}
                        @if (Model.Floor != null)
                        { <div class="pointY pointW">На каком этаже: @Model.Floor</div>}
                        @if (Model.CeillingHeight != null)
                        { <div class="pointY pointW">Высота потолков: @Model.CeillingHeight м</div>}
                        @if (Model.WithExtension)
                        {
                            <div class="@(Model.WithExtension != false ? "pointY" : "pointN")">Пристройка</div>
                        }
                        @if (Model.WithBasement)
                        {
                            <div class="@(Model.WithBasement != false ? "pointY" : "pointN")">Подвал</div>
                        }
                        @if (Model.WithGarage)
                        {
                            <div class="@(Model.WithGarage != false ? "pointY" : "pointN")">Гараж</div>
                        }
                        @if (Model.WithGarden)
                        {
                            <div class="@(Model.WithGarden != false ? "pointY" : "pointN")">Огород</div>
                        }
                        <div class="clear"></div>
                    </div>
                    
                    @Html.Partial("SlideShow", new SliderModel
                     {
                         Slides = Model.Photos.OrderBy(i => i.CreatedAt).Select(q => String.Format("/Images/Realty/{0}", q.Link)).ToList(),
                         Thumbnails = Model.Photos.OrderBy(i => i.CreatedAt).Select(q => String.Format("/Images/Thumbnails/Realty/{0}", q.Link)).ToList(),
                     })

                    
@* List of comments *@
                    @Html.Partial("_RealtyComments", (IPagedList<RealtyComment>)ViewBag.Comments ?? new PagedList<RealtyComment>(null, 1, 1))
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="middleBot"></div>
@section Scripts{
    @Scripts.Render("~/Scripts/cusel-min-2.5.js")
    @Scripts.Render("~/Scripts/jquery.tinyscrollbar.min.js")
    @Scripts.Render("~/Scripts/jquery.jcarousel.min.js")
    @Scripts.Render("~/Scripts/RealtyBookmark.js")
    @Styles.Render("~/Content/Cusel.css")
    @Styles.Render("~/Content/Tinyscrollbar.css")
}