@using Reklama
@model Domain.Entity.Realty.Realty

@{
    ViewBag.Title = "Редактирование объявления";
}

@*<script src="~/Scripts/jquery-1.7.1.min.js"></script>*@
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="register">
    <h1>Новое объявление</h1>
    <div class="registerIn">
        <div class="registerInW">
            <form id="@Model.Id" action="/Realty/Edit/@Model.Id" method="post" novalidate="novalidate">
                <div class="borderReg head">
                    <div class="fieldItem">
                        @Html.ValidationSummary()
                        <span class="field-title">Лицо:</span>
                        @Html.RadioButtonFor(x => x.IsAgency, false, new { Class = "Personal", Checked = "checked" })
                        частное
                        @Html.RadioButtonFor(x => x.IsAgency, true, new { Class = "Agency" }) агенство
                    </div>
                    <div class="fieldItem" id="AgencyNameDiv" hidden>
                        <div class="rightText">
                            <br />@Html.ValidationMessageFor(x => x.AgencyName)
                        </div>
                        <span class="field-title">Название агенства:</span>
                        @Html.TextBoxFor(x => x.AgencyName, new { Class = "regInp2", Id = "AgencyName" })
                    </div>
                    <div class="fieldItem">
                        <span class="field-title">Категория:</span>
                        @Html.DropDownListFor(x => x.CategoryId, new SelectList((ViewBag.Categories), "Id", "Name"), "Выберите категорию")
                        <div>@Html.ValidationMessageFor(x => x.CategoryId)</div>
                    </div>
                    <div class="fieldItem">
                        <span class="field-title">Раздел:</span>
                        
                        <div id="CategoryButtons">
                            @foreach (var item in new SelectList((ViewBag.Sections), "Id", "Name"))
                            {
                                <div class="item-container">
                                    <div class="item">
                                        @*<input id="categoryButtom1" class="radio" type="radio" value="1" name="Category">
                                        <label for="categoryButtom1">Продам</label>*@
                                        @Html.RadioButtonFor(m => m.SectionId, item.Value, new { id = "categoryButtom" + item.Value, name = "SectionId", @class = "radio" })
                                        @Html.LabelFor(m => m, item.Text, new { @for = "categoryButtom" + item.Value })
                                    </div>
                                </div>
                            }
                            <div style="clear: both; padding: 0; height: 0; min-height: 0;"></div>
                            <div style="padding-left: 210px; padding-bottom: 0;">@Html.ValidationMessageFor(s => s.SectionId)</div>
                            <label for="pertin1" hidden id="ForDaysLabel">@Html.CheckBoxFor(x => x.ForDays, new { Id = "ForDays" })На сутки</label>
                            
                        </div>
                    </div>
                </div>
               
                <div class="borderReg">
                    <div class="fieldItem">
                        <div class="rightText">
                            Покупатель не захочет собирать дополнительную информацию о нужном ему товаре и сразу купит у вас. Кроме того, подробное описание товара оставляет хорошее впечатление о продавце - покупатель будет спокоен. 
                        </div>
                        <span class="field-title">Город:</span>
                        @Html.DropDownListFor(x => x.CityId, new SelectList((ViewBag.Cities), "Id", "Name"), "Выберите город")
                        <div>@Html.ValidationMessageFor(x => x.CityId)</div>
                    </div>
                    <div class="fieldItem">
                        <span class="field-title">Улица:</span>
                        @Html.TextBoxFor(x => x.Street, new { Class = "regInp1" })
                        <div>@Html.ValidationMessageFor(x => x.Street)</div>
                    </div>
                    <div class="fieldItem">
                        <span class="field-title">Количество комнат:</span>
                        @for (int i = 1; i <= 5; i++)
                        {
                            @Html.RadioButtonFor(x => x.RoomsCount, i) @i
                        }
                        @Html.RadioButtonFor(x => x.RoomsCount, 0)>5
                    </div>
                    <div class="fieldItem"><span class="field-title">Площадь:</span>@Html.TextBoxFor(x => x.Square, new { Class = "regInp3" })м<sup>2</sup> <div>@Html.ValidationMessageFor(x => x.Square)</div></div>
                    <div class="fieldItem"><span class="field-title">Этажей в доме:</span>@Html.TextBoxFor(x => x.FloorCount, new { Class = "regInp3" }) <div>@Html.ValidationMessageFor(x => x.FloorCount)</div></div>
                    <div class="fieldItem"><span class="field-title">На каком этаже:</span>@Html.TextBoxFor(x => x.Floor, new { Class = "regInp3" }) <div>@Html.ValidationMessageFor(x => x.Floor)</div></div>
                    <div class="fieldItem"><span class="field-title">Высота потолков:</span>@Html.TextBoxFor(x => x.CeillingHeight, new { Class = "regInp3" })м <div>@Html.ValidationMessageFor(x => x.CeillingHeight)</div></div>
                    <div class="fieldItem">
                        <span class="field-title">Дополнительно:</span>
                        @Html.CheckBoxFor(x => x.WithExtension, new {id = "addit1", @class="checkbox-input"})<label class="checkbox-label" for="addit1">с пристройкой</label>
                        @Html.CheckBoxFor(x => x.WithBasement, new {id = "addit2", @class="checkbox-input"})<label class="checkbox-label" for="addit2">с подвалом</label>
                        @Html.CheckBoxFor(x => x.WithGarage, new {id = "addit3", @class="checkbox-input"})<label class="checkbox-label" for="addit3">с гаражом</label>
                        @Html.CheckBoxFor(x => x.WithGarden, new {id = "addit4", @class="checkbox-input"})<label class="checkbox-label" for="addit4">с огородом</label>
                    </div>
                </div>
                
                <div class="borderReg">

                    <div class="fieldItem">
                        <div class="regBrown label-container">Заголовок:</div>
                        @Html.TextBoxFor(x => x.Name, new { Class = "regInp2" })
                        <p>не более 180 символов</p>
                        <div class="rightText">Заголовок - самая заметная часть объявления.<br /> @Html.ValidationMessageFor(x => x.Name)</div>
                    </div>  

                    <div class="fieldItem message-container">
                        <div class="label-container">Подробное описание:</div>
                         @Html.HiddenFor(m => m.Description, new { @id = "hfDesc" })
                        <textarea class="message">@Html.Raw(Model.Description)</textarea>
                        <p>не более 1800 символов</p>
                        <div class="rightText">Покупатель не захочет собирать дополнительную информацию о нужном ему товаре и сразу купит у вас. Кроме того, подробное описание товара оставляет хорошее впечатление о продавце - покупатель будет спокоен. <br /> @Html.ValidationMessageFor(x => x.Description)</div>
                    </div>

                    <div class="fieldItem">
                        <div class="regBrown label-container">Краткое описание:</div>
                        <div>@Html.TextAreaFor(x => x.SmallDescription, new { @class = "desc" } )</div>
                        <p>не более 600 символов</p>
                        <div class="rightText">Краткое описание позволит пользователю сразу сориентироваться в сущности объявления. Старайтесь писать кратко и лаконично, не нужно путать краткое описание с подробным. <br /> @Html.ValidationMessageFor(x => x.SmallDescription)</div>
                    </div>


                </div>
                <div class="borderReg">

                    <div class="fieldItem">
                        <div class="regRed label-container">Цена:</div>
                        @Html.TextBoxFor(x => x.Price, "{0:0.####}", new { Class = "regInp1" })
                        @Html.DropDownListFor(x => x.CurrencyId, new SelectList(ViewBag.Currencies, "Id", "Name"), new { Class = "pType" })
                        <p class="check">@Html.CheckBoxFor(x => x.IsAuction)<label for="pertin">Торг уместен</label></p><br />
                        <div class="rightText">Если вы не укажете реальную стоимость, при сортировке по цене, покупатель не найдет ваше объявление. Цена  «1 у.е.»  отпугивает покупателя своей несерьезностью. <br /> @Html.ValidationMessageFor(x => x.Price) </div>
                    </div>
                    <div class="fieldItem">
                        <div class="regBrown label-container">@Html.LabelFor(n => n.Phone)</div>
                        @Html.TextBoxFor(model => model.Phone, new { @class = "regInp1" })
                        <div class="rightText">@Html.ValidationMessageFor(n => n.Name)</div>
                    </div>
                    <div class="fieldItem">
                        <div class="regBrown label-container">@Html.LabelFor(n => n.ContactName)</div>
                        @Html.TextBoxFor(model => model.ContactName, new { @class = "regInp1" })
                        <div class="rightText"></div>
                    </div>
                    <div class="fieldItem">
                        <div class="regBrown label-container">@Html.LabelFor(n => n.ContactEmail)</div>
                        @Html.TextBoxFor(model => model.ContactEmail, new { @class = "regInp1" })
                        <div class="rightText"></div>
                    </div>

                </div>
                <div class="borderReg">

                    <div class="fieldItem">
                        <span class="field-title">Фотографии:</span>
                        @*<div>
                            <input class="regBut1" type="button" value="" />jpeg, png, gif не более 1MB
                        </div>
                        <img id="load" class="unvisible" />
                        <div class="rightText">
                            Фотографии работают гораздо лучше, чем самый талантливый текст. Взглянув на фотографию и представив себя счастливым владельцем товара, покупатель может захотеть немедленно его купить. Чем больше фотографий - тем лучше.
                        </div>

                        <div id="imagePreview" class="@((ViewBag.UploadedImages != null) ? "visible" : "unvisible")">
                            Загруженные файлы : 
                            <br />
                            @Html.HiddenFor(x => x.Id, new { @class = "realtyId" })
                            @if (ViewBag.UploadedImages != null)
                            {
                                foreach (string image in (IEnumerable<string>)ViewBag.UploadedImages)
                                {
                                <div class="image_fields">
                                    <img class="realtyImage" src="/Images/Realty/@image"/>
                                    <input type="hidden" name="images[]" value="@image" /><br />
                                    <a href="#" class="image_remove" onclick="return $.fn.removeImage($(this));">Удалить</a>
                                </div>
                                }
                            }
                        </div>*@
                        @Html.Partial("_FileUpload")
                    </div>

                </div>
                @*<div id="image_fields"></div>*@
                @Html.AntiForgeryToken()
                <div class="regBtm">
                    <p>
                        <input class="regBut3" type="submit" value="" name="save" /></p>
                    <p>Время размещения с @DateTime.Now.ToShortDateString() до @DateTime.Now.AddDays(ProjectConfiguration.Get.GetConfigValue("ExpiredAtRealty").ToInt32(null)).ToShortDateString()</p>
                </div>
            </form>
        </div>

    </div>
    <div class="middleBot"></div>
</div>

<script>
    var desc = 'textarea.desc';
    var limit = 100;

    jQuery(document).ready(function () {
        jQuery('.message').jqte({
            change: function () {
                var s = jQuery(".message-container .jqte_editor").html();
                jQuery("#hfDesc").val(s);

                if (!$(desc).hasClass('active')) {
                    //var s = $(this).val();
                    while (s.indexOf("\n") > -1)
                        s = s.replace("\n", " ");
                    s = $.removeTags(s);
                    $(desc).val(s);
                    var text = $(desc).val();
                    var chars = text.length;
                    if (chars > limit) {
                        var new_text = text.substr(0, limit);
                        $(desc).val(new_text);
                    }
                }

            }
        });

    });


</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
   @* @Scripts.Render("~/Scripts/ajaxupload.js")*@
    @Scripts.Render("~/Scripts/RealtyEdit.js")
    @Scripts.Render("~/Scripts/Preview.js")
@Scripts.Render("~/Scripts/jquery-te-1.4.0.min.js")
@Styles.Render("~/Content/jquery-te-1.4.0.css")
}