@using Domain.Enums
@model Reklama.Data.Entities.Product
           @{
    Layout = null;
}

<div class="prodTopR">
    <ul>
        <li><a @(((ProductMenu)ViewData["productMenu"] == ProductMenu.Characteristics) ? "class=act" : "" ) href="@Url.Action("Details", new { id = Model.ID })">
                <img src="/Images/System/file.png" /><span>Характеристики</span></a>
            @if (User.IsInRole("Administrator"))
        {
            <li>
                @Html.RouteLink("Редактировать", "CatalogAdmin_default", new { Controller = "Product", Action = "Edit", id = Model.ID }, new { style = "color:#00A;" })
            </li>
        }
        </li>
        <li>
            <a @(((ProductMenu)ViewData["productMenu"] == ProductMenu.Photo) ? "class=act" : "" ) href="@Url.Action("Photos", new { id = Model.ID })">
                <img src="/Images/System/foto.png" />
                <span>Фото</span>
            </a>
            <sup>@(Model.ProductImage.Count)</sup>
            @if (User.IsInRole("Administrator"))
            {
                <br />
                @Html.RouteLink("Добавить фото", "CatalogAdmin_default", new { Controller = "Product", Action = "Edit", id = Model.ID }, new { style = "color:#00A;", target = "_blank" })
            }
        </li>
        @if(Model.ReviewLink != null && !Model.ReviewLink.IsEmpty())
        {
            <li>
                <a @(((ProductMenu) ViewData["productMenu"] == ProductMenu.Review) ? "class=act" : "" ) href="@Model.ReviewLink">
                    <img src="/Images/System/page.png" /><span>Обзор</span>
                </a>
            </li>
        }
        <li><a @(((ProductMenu)ViewData["productMenu"] == ProductMenu.Feedback) ? "class=act" : "" ) href="@Url.Action("Feedbacks", new { id = Model.ID })">
            <img src="/Images/System/book.png" /><span>Отзывы</span></a><sup>@Model.ProductFeedback.Count</sup></li>
        @*<li><a href="javascript:void(0)">
                <img src="/Images/System/talk.png" /><span>Обсуждение</span></a><sup>88</sup>
        </li>*@
        @if (User.IsInRole("Administrator"))
        {
            <li>
                @Html.RouteLink("Редактировать товар", "CatalogAdmin_default", new { Controller = "Product", Action = "Edit", id = Model.ID }, new { style = "color:#00A;" })
            </li>
        }
                <li><a @(((ProductMenu)ViewData["productMenu"] == ProductMenu.Shops) ? "class=act" : "" ) href="@Url.Action("Shops", new { id = Model.ID })">
            <img src="/Images/System/book.png" /><span>Магазины</span></a><sup>@Model.ShopProduct.Count(r => r.Shop.IsActive)</sup></li>
    </ul>
</div>
