@using Domain.Enums
@using Reklama
@using Reklama.Models.Shared
@using Reklama.ViewModels.Catalog
@model Reklama.Data.Entities.Product

@{
    ViewBag.Title = "Изображения товара";
}

<div class="catalogInner">


    <table>
        <tr>
            <td class="ci1">
                @Html.Partial("_PlaceGoods")
                @Html.Partial("_Manufacturers", new ManufacturersMenuViewModel
                {
                    CurrentCategory = Model.Category,
                    Manufacturers = Model.Category.Product.Select(q => q.Manufacturer).Distinct()
                })
                @{ Html.RenderAction("GetUnderFiltersBanner", "Banners");}
               
            </td>
            

            <td class="ci2">
                <img width="10" height="1" border="0" src="/Images/System/s.png" />
            </td>
            <td class="ci3" valign="top">
                <div class="crumbs">
                    <a href="/">Главная страница</a>
                    <span class="arr">&rarr;</span>
                    @Html.ActionLink("Каталог товаров", "Index")
                    <span class="arr">&rarr;</span>
                    @Html.ActionLink(Model.Category.Name, "Category", new { secondCategoryId = Model.Category.ID })
                    <span class="arr">&rarr;</span>
                    @Model.Title - Фотографии
                </div>
                
                @Html.Partial("_Product", Model,  (new ViewDataDictionary() { 
                        new KeyValuePair<string, object>("productMenu", ProductMenu.Photo),
                        new KeyValuePair<string, object>("isIssetInBookmarks", ViewBag.IsIssetInBookmark)
                }))
                
                @Html.Partial("SlideShow", new SliderModel
                     {
                         Slides = Model.ProductImage.Select(q => String.Format("/Images/Catalog/Product/{0}", q.ImageName)).ToList(),
                         Thumbnails = Model.ProductImage.Select(q => String.Format("/Images/Thumbnails/Product/{0}", q.ImageName)).ToList(),
                     })

            </td>
        </tr>
    </table>
</div>
<div class="middleBot"></div>


@section Scripts{
    @Scripts.Render("~/Scripts/cusel-min-2.5.js")
    @Scripts.Render("~/Scripts/jquery.tinyscrollbar.min.js")
    @Scripts.Render("~/Scripts/jquery.jcarousel.min.js")
    @Styles.Render("~/Content/Cusel.css")
    @Styles.Render("~/Content/Tinyscrollbar.css")
}