@using Domain.Enums
@using Reklama
@using Reklama.Models.ViewModels.Catalog
@using PagedList;
@using Reklama.ViewModels.Catalog
@model ProductShopsPageViewModel


@{
    ViewBag.Title = string.Format("{0} / Магазины - www.reklama.tm", Model.Product.Title);
}

<div class="catalogInner">
    <table>
        <tr>
            <td class="ci1">
                @Html.Partial("_PlaceGoods")
                @Html.Partial("_Manufacturers", new ManufacturersMenuViewModel
                {
                    CurrentCategory = Model.Product.Category,
                    Manufacturers = Model.Manufacturers

                })
                @{ Html.RenderAction("GetUnderFiltersBanner", "Banners");}

            </td>
            <td class="ci2">
                <img width="10" height="1" border="0" src="/Images/System/s.png" />
            </td>
            <td class="ci3" valign="top">
                <div class="crumbs">
                    <a href="/">Главная страница</a>
                    <span class="arr">&rarr;</span>
                    @Html.ActionLink("Каталог товаров", "Index")
                    <span class="arr">&rarr;</span>
                    @Html.ActionLink(Model.Product.Category.Name, "Category", new { secondCategoryId = Model.Product.Category.ID })
                    <span class="arr">&rarr;</span>
                    @Model.Product.Title - Магазины
                </div>

                @Html.Partial("_Product", Model.Product, (new ViewDataDictionary {
                        new KeyValuePair<string, object>("productMenu", ProductMenu.Shops)
                }))



                <div class="prodList">
                    <div class="shopHeadOut">
                        <div class="shopHead"><span>Магазины</span></div>
                        <em>*</em>
                        <p>@Html.Raw(ProjectConfiguration.Get.CatalogConfig.WarningText)</p>
                    </div>
                    <div class="hed2">
                        <div class="ciSort">
                            <span>Сортировать по:</span>
                            <ul>
                                <li @((Model.Filter.SortOptions == SortOptionsParams.ByPrice) ? "class=a" : "")>
                                    <img class="ciSortL" src="/Images/System/ciSortL.png"><img class="ciSortR" src="/Images/System/ciSortR.png"><a href="@Url.Action("Shops", new ProductsFilterParams
                                                                                                                                                {
                                                                                                                                                    Page = Model.Filter.Page,
                                                                                                                                                    PageSize = Model.Filter.PageSize,
                                                                                                                                                    SortOptions = SortOptionsParams.ByPrice,
                                                                                                                                                    SortOrder = Model.Filter.SortOrder
                                                                                                                                                })"><span>цене</span></a>
                                </li>
                                <li @((Model.Filter.SortOptions == SortOptionsParams.ByName) ? "class=a" : "")>
                                    <img class="ciSortL" src="/Images/System/ciSortL.png"><img class="ciSortR" src="/Images/System/ciSortR.png"><a href="@Url.Action("Shops", new ProductsFilterParams
                                                                                                                                                {
                                                                                                                                                    Page = Model.Filter.Page,
                                                                                                                                                    PageSize = Model.Filter.PageSize,
                                                                                                                                                    SortOptions = SortOptionsParams.ByName,
                                                                                                                                                    SortOrder = Model.Filter.SortOrder
                                                                                                                                                })"><span>названию</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="retSort down">
                            @if (Model.Filter.SortOrder == SortOrderParams.Ascending)
                            {
                                <a href="@Url.Action("Shops", new ProductsFilterParams
                                {
                                    Page = Model.Filter.Page,
                                    PageSize = Model.Filter.PageSize,
                                    SortOptions = Model.Filter.SortOptions,
                                    SortOrder = SortOrderParams.Descending
                                })">
                                    по убыванию
                                </a><span>&nbsp;</span>
                            }
                            else
                            {
                                <a href="@Url.Action("Shops", new ProductsFilterParams
                                {
                                    Page = Model.Filter.Page,
                                    PageSize = Model.Filter.PageSize,
                                    SortOptions = Model.Filter.SortOptions,
                                    SortOrder = SortOrderParams.Ascending
                                })">
                                    по возрастанию
                                </a><span>&nbsp;</span>
                            }
                        </div>
                        <div class="ciShowBy">
                            <span>Показать на странице:</span>
                            <ul>
                                @for (int i = 0; i < 3; i++)
                                {
                                    <li @((Model.Filter.PageSize == ProjectConfiguration.Get.ItemsOnPage[i]) ? "class=a" : "")>
                                        <a href="@Url.Action("Shops", new ProductsFilterParams
                                        {
                                            Page = Model.Filter.Page,
                                            PageSize = ProjectConfiguration.Get.ItemsOnPage[i],
                                            SortOptions = Model.Filter.SortOptions,
                                            SortOrder = Model.Filter.SortOrder
                                        })">
                                            <span>@ProjectConfiguration.Get.ItemsOnPage[i]</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="ciList">
                        <ul>
                            @foreach (var shop in Model.Shops)
                            {
                                <li>
                                    <table>
                                        <tr>
                                            <td class="shopPrice">

                                                <div class="mPrice">
                                                    <img class="mPriceL" src="/Images/System/mPriceL.png" />
                                                    <img class="mPriceR2" src="/Images/System/mPriceR2.png" />

                                                    <label class="price_value" value="@shop.Price.Value.ToString(System.Globalization.CultureInfo.InvariantCulture)">@Math.Round(((decimal)shop.Price), 2).ToString("0.#####", System.Globalization.CultureInfo.InvariantCulture)</label>
                                                    <span class="price_list_click">
                                                        <span>USD</span>

                                                        @try { Html.RenderAction("SwitcherList", "Currency"); }
                                                        catch { }
                                                    </span>
                                                </div>

                                                @Scripts.Render("~/Scripts/CurrencyList.js")
                                            </td>
                                            <td class="shopCont middleVA">
                                                <div class="shop-logo-wrapper">                                                    
                                                    <a href="@Url.Action("Details", "Shops", new { id = shop.ShopID })">
                                                        <img src="/@((shop.Shop.Logo != null) ? string.Concat(ProjectConfiguration.Get.FilePaths["shopLogo"], shop.Shop.Logo) : "Images/System/no_logo.png")" />
                                                    </a>
                                                </div>
                                               
                                            </td>
                                            <td class="shopInfo">

                                                <div class="workTime">
                                                    <p>Режим работы:</p>
                                                    <div class="shopTime">
                                                        <span class="@(shop.Shop.Monday ? "" : "no")">Пн</span>
                                                        <span class="@(shop.Shop.Tuesday ? "" : "no")">Вт</span>
                                                        <span class="@(shop.Shop.Wednesday ? "" : "no")">Ср</span>
                                                        <span class="@(shop.Shop.Thursday ? "" : "no")">Чт</span>
                                                        <span class="@(shop.Shop.Friday ? "" : "no")">Пт</span>
                                                        <span class="@(shop.Shop.Saturday ? "" : "no")">Сб</span>
                                                        <span class="@(shop.Shop.Sunday ? "" : "no")">Вс</span>
                                                    </div>
                                                </div>

                                                <div class="workStars">
                                                    <p>
                                                        <a href="@Url.Action("Details", "Shops", new { id = shop.ShopID })">@shop.Shop.Title</a>
                                                    </p>
                                                </div>
                                                <div class="shop-contact-info">
                                                    @if (shop.Shop.Phone != null && !shop.Shop.Phone.IsEmpty())
                                                    {
                                                        <p>@shop.Shop.Phone</p>
                                                    }
                                                    @if (shop.Shop.Skype != null && !shop.Shop.Skype.IsEmpty())
                                                    {
                                                        <p>Skype: @shop.Shop.Skype</p>
                                                    }
                                                    @if (shop.Shop.Icq != null && !shop.Shop.Icq.IsEmpty())
                                                    {
                                                        <p>ICQ: @shop.Shop.Icq</p>
                                                    }
                                                    @if (shop.Shop.Site != null && !shop.Shop.Site.IsEmpty())
                                                    {
                                                        <p><a href="@(shop.Shop.Site.Contains("http://") ? shop.Shop.Site : "http://" + shop.Shop.Site)">@shop.Shop.Site</a></p>
                                                    }
                                                </div>

                                                <div class="workResponse">
                                                    <a href="@Url.Action("Details", "Shops", new { id = shop.ShopID })"><img src="/Images/System/book.png" /><span>Отзывы</span></a><sup>@shop.Shop.ShopFeedback.Count</sup>
                                                </div>
                                            </td>
                                            <td class="shopText">
						<p> @shop.Shop.Description </p></td>
                                        </tr>
                                    </table>
                                </li>
                            }
                        </ul>
                    </div>

                </div>

                <div class="pages">
                    <ul class="fastNav">
                        <img class="fastNavL" src="/Images/System/fastNavL.png" />
                        <img class="fastNavR" src="/Images/System/fastNavR.png" />
                        <a class="page-prev" href="javascript:void(0)"></a>

                        @for (int page = 1; page <= Model.Shops.PageCount && page <= 7; page++)
                        {
                            <li>

                                @if (page == Model.Shops.PageNumber)
                                {
                                    @Html.ActionLink(page.ToString(), "Shops", new
                                                                            {
                                                                                Page = page,
                                                                                Model.Filter.PageSize,
                                                                                Model.Filter.SortOptions,
                                                                                Model.Filter.SortOrder
                                                                            },
                                                                            new { @class = "hr" })
                                }
                                else
                                {
                                    @Html.ActionLink(page.ToString(), "Shops", new
                                                                            {
                                                                                Page = page,
                                                                                Model.Filter.PageSize,
                                                                                Model.Filter.SortOptions,
                                                                                Model.Filter.SortOrder
                                                                            })
                                }
                            </li>
                        }

                        @if (Model.Shops.PageCount > 14)
                        {
                            <li class="exppages">
                                <a class="exppagesTitle" href="javascript:void(0)">все<img src="/Images/System/orArrow.png" /></a>
                            </li>
                        }

                        @for (int page = Model.Shops.PageCount - 6; page <= Model.Shops.PageCount && page > 7; page++)
                        {
                            <li>

                                @if (page == Model.Shops.PageNumber)
                                {
                                    @Html.ActionLink(page.ToString(), "Shops", new
                                                                            {
                                                                                Page = page,
                                                                                Model.Filter.PageSize,
                                                                                Model.Filter.SortOptions,
                                                                                Model.Filter.SortOrder
                                                                            },
                                                                            new { @class = "hr" })
                                }
                                else
                                {
                                    @Html.ActionLink(page.ToString(), "Shops", new
                                                                            {
                                                                                Page = page,
                                                                                Model.Filter.PageSize,
                                                                                Model.Filter.SortOptions,
                                                                                Model.Filter.SortOrder
                                                                            })
                                }
                            </li>
                        }

                        <a class="page-next" href="javascript:void(0)"></a>
                    </ul>

                    <div class="pageslider">
                        <div class="pagesliderTop">
                            <ul>
                                @for (int page = 1; page <= Model.Shops.PageCount; page++)
                                {
                                    <li>

                                        @if (page == Model.Shops.PageNumber)
                                        {
                                            @Html.ActionLink(page.ToString(), "Shops", new
                                                                            {
                                                                                Page = page,
                                                                                Model.Filter.PageSize,
                                                                                Model.Filter.SortOptions,
                                                                                Model.Filter.SortOrder
                                                                            },
                                                                            new { @class = "shr" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink(page.ToString(), "Shops", new
                                                                            {
                                                                                Page = page,
                                                                                Model.Filter.PageSize,
                                                                                Model.Filter.SortOptions,
                                                                                Model.Filter.SortOrder
                                                                            })
                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
    </table>
</div>
<div class="middleBot"></div>