@model IEnumerable<Domain.Entity.Announcements.Announcement>

@{
    ViewBag.Title = "Неактивные объявления";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Неактивные объявления</h2>

<table style="padding: 5px; border: 1px solid #000">
    <tr style="padding: 5px; border: 1px solid #000">
        <th style="padding: 5px; border: 1px solid #000">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style="padding: 5px; border: 1px solid #000">
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th style="padding: 5px; border: 1px solid #000">
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th style="padding: 5px; border: 1px solid #000">
            @Html.DisplayNameFor(model => model.ViewsCount)
        </th>
        <th style="padding: 5px; border: 1px solid #000">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th style="padding: 5px; border: 1px solid #000">
            @Html.DisplayNameFor(model => model.ExpiredAt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr style="padding: 5px; border: 1px solid #000">
        <td style="padding: 5px; border: 1px solid #000">
            @Html.ActionLink(item.Name, "Details", "Announcement", new { id = item.Id }, null)
        </td>
        <td style="padding: 5px; border: 1px solid #000">
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td style="padding: 5px; border: 1px solid #000">
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td style="padding: 5px; border: 1px solid #000">
            @Html.DisplayFor(modelItem => item.ViewsCount)
        </td>
        <td style="padding: 5px; border: 1px solid #000">
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td style="padding: 5px; border: 1px solid #000">
            @Html.DisplayFor(modelItem => item.ExpiredAt)
        </td>
        <td style="padding: 5px; border: 1px solid #000">
            @Html.ActionLink("Активировать", "AnnouncementMakeActive", new { id=item.Id })
        </td>
    </tr>
}

</table>
