@model Domain.Entity.Admin.ArticleConfig

@{
    ViewBag.Title = "Настройки статей";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Настройки статей</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ArticleConfig</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Slogan)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Slogan, new { style = "width: 300px;" })
            @Html.ValidationMessageFor(model => model.Slogan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Best1Id)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Best1Id, new { style = "width: 50px;" })
            @Html.ValidationMessageFor(model => model.Best1Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Best2Id)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Best2Id, new { style = "width: 50px;" })
            @Html.ValidationMessageFor(model => model.Best2Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Best3Id)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Best3Id, new { style = "width: 50px;" })
            @Html.ValidationMessageFor(model => model.Best3Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Best4Id)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Best4Id, new { style = "width: 50px;" })
            @Html.ValidationMessageFor(model => model.Best4Id)
        </div>

        @Html.HiddenFor(model => model.Id)

        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}

<br />
@Html.ActionLink("Создать новую статью", "Create", "Article")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
