@model Domain.Entity.Catalogs.ProductParam

@{
    ViewBag.Title = "Редактирование параметра товара";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Редактирование параметра товара</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Редактирование параметра товара</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        @Html.HiddenFor(model => model.Id)

        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
