@model IEnumerable<Domain.Entity.Catalogs.CatalogCategory>

@{
    ViewBag.Title = "Общие характеристики категории товаров";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Общие характеристики категории товаров</h2>

<p>
    @Html.ActionLink("Создать новую характеристику категории товаров", "ProductParamSectionCreate")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "ProductParamSectionEdit", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "ProductParamSectionDelete", new { id=item.Id }) | 
            @Html.ActionLink("Подкатегории категории", "ProductParamSecondCategory", new { categoryId=item.Id })
        </td>
    </tr>
}

</table>
