@model Domain.Entity.Catalogs.CatalogParamSubsection

@{
    ViewBag.Title = "Создать новую частную характеристику подкатегории товаров";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Создать новую частную характеристику подкатегории товаров</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CatalogParamSubsection</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SecondCategory)
        </div>
        <div class="editor-field">
            @Html.DropDownList("SecondCategoryId", (SelectList)ViewBag.ProductParamCategories)
            @Html.ValidationMessageFor(model => model.SecondCategoryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Slogan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Slogan)
            @Html.ValidationMessageFor(model => model.Slogan)
        </div>

        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
