@{
    Layout = null;
}
<div class="bSocial">
    <p>Ищи нас тут:</p>
    <ul>
        <li><a class="fb" href="@ViewBag.Facebook" target="_blank"></a></li>
        <li><a class="vk" href="@ViewBag.Vk" target="_blank"></a></li>
        <li><a class="tr" href="@ViewBag.Twitter" target="_blank"></a></li>
        <li><a class="gp" href="@ViewBag.GooglePlus" target="_blank"></a></li>
        <li><a class="od" href="@ViewBag.Odnoklassniki" target="_blank"></a></li>
        <li><a class="mr" href="@ViewBag.Mail" target="_blank"></a></li>
    </ul>
</div>
