@using System.Globalization
@using Reklama.Models.SortModels
@model PagedList.IPagedList<Domain.Entity.Realty.Realty>

@{
    ViewBag.Title = "IndexMobile";
    Layout = "~/Views/_Layout/_Mobile.cshtml";
    var sortModel = (PagerSortModel)ViewBag.SortModel;
    var name = ViewBag.UserName;
    var surname = ViewBag.UserSurName;
    var site = ViewBag.Site;
    var skype = ViewBag.Skype;
    var icq = ViewBag.Icq;
    var isAdmin = ViewBag.IsAdmin;
}

<div class="bg-silver">
    <div class="main-header">
        <div class="profile-header-wrapper">
            <h2 class="text-center mt-2 text-white">Профиль</h2>
            <div class="info">
                <div class="logo">
                    @if (name != string.Empty && name != null)
                    {
                        <span>
                            @name.Substring(0, 1).ToUpper()
                        </span>
                    }
                    else
                    {
                        <span>Н/Д</span>
                    }
                </div>
                <div class="personal">
                    <h3>@surname @name</h3>
                    @if (site != null)
                    { <p>Сайт: @site</p> }
                    @if (skype != null)
                    { <p>Skype: @skype</p> }
                    @if (icq != null)
                    { <p>ICQ: @icq</p> }
                </div>
            </div>
            <div class="actions">
                <a class="btn btn-default btn-rounded mt-3"><i class="fa fa-pencil-alt"></i> Редактировать</a>
                @if (isAdmin)
                {
                    <a class="btn btn-default btn-rounded mt-3"><i class="fa fa-user-alt"></i> Пользователи</a>
                }
                <a href="@Url.Action("LogOffAlternative", "Account")" class="btn btn-default btn-rounded mt-3"><i class="fa fa-sign-out-alt"></i> Выход</a>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="main-pub-items">
            @{var rnd = new Random(); }
            @foreach (var realty in Model)
            {
                <div class="item blue">
                    <div class="bg blue">&nbsp;</div>

                    @*<div class="img">
                            @if (realty.Photos.Count != 0)
                            {
                                <div class="icon-wrapper">
                                    <img data-toggle="modal" data-target="@("#item-modal-" + realty.Id)" src="@string.Concat("/", ProjectConfiguration.Get.FilePaths["realty_thumb"], "/", realty.Photos.OrderBy(x => x.CreatedAt).First().Link)" />
                                </div>
                            }
                            else
                            {
                                <div class="icon-wrapper blue">
                                    <i class="fa fa-home fa-3x"></i>
                                </div>
                            }
                        </div>*@
                    <div class="info pl-3">
                        <div class="announce-info">
                            <div class="name-ico mr-2">
                                @if (realty.UserProfile.Name != string.Empty && realty.UserProfile.Name != null)
                                {
                                    <span>
                                        @realty.UserProfile.Name.Substring(0, 1).ToUpper()
                                    </span>
                                }
                                else
                                {
                                    <span>Н/Д</span>
                                }
                            </div>
                            <div class="name mr-2">
                                @if (realty.UserProfile.Name != string.Empty && realty.UserProfile.Name != null)
                                {
                                    @realty.UserProfile.Name
                                }
                                else
                                {
                                    <span>Н/Д</span>
                                }
                            </div>
                            <div class="dt">
                                <i class="fa fa-calendar"></i> <span>@realty.CreatedAt.ToString("dd MMM")</span>
                            </div>
                        </div>

                        <div class="line">
                            <div class="icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="text">
                                @realty.Address
                            </div>
                        </div>
                        <div class="line">
                            <div class="icon">
                                <i class="fa fa-cube"></i>
                            </div>
                            <div class="text">
                                @Html.Raw(realty.DescriptionView)
                            </div>
                        </div>

                        
                        <div class="line">
                            <div class="icon">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <div class="text">
                                @if (realty.Currency != null && realty.Price != null)
                                {
                                    var nfi = (NumberFormatInfo)CultureInfo.InvariantCulture.NumberFormat.Clone();
                                    nfi.NumberGroupSeparator = " ";
                                    @Math.Round(((decimal)realty.Currency.Rate * realty.Price.Value), 2).ToString("#,0", nfi)
                                    @*@String.Format("{0:n0}", Math.Round(((decimal)Model.Currency.Rate * Model.Price.Value), 2))*@
                                    //.ToString("0.#####", CultureInfo.CreateSpecificCulture("fr-CA"))
                                }
                                else
                                {
                                    <span>0</span>
                                }
                                $ &nbsp;&nbsp;&nbsp;

                                @if (WebSecurity.IsAuthenticated && realty.PriceForOneMeter != null)
                                {
                                    <span>
                                        @String.Format("{0:n0}", realty.PriceForOneMeter)
                                        $/м<sup>2</sup>
                                    </span>
                                }
                            </div>
                        </div>
                        <p style="color: black">
                            <i class="fa fa-eye"></i> <span>@realty.Views</span>
                            <span class="float-right">
                                <a href="@Url.Action("DeleteMobile", "Realty", new { id = realty.Id })">
                                    <i class="fa fa-trash-alt text-danger"></i>
                                </a>
                            </span>

                            <span class="float-right mr-3">
                                @if (realty.IsActive)
                                {
                                    <a href="@Url.Action("PlayStopMobile", "Realty", new { id = realty.Id })" class="text-primary" title="Приостановить"><i class="fa fa-pause"></i> </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("PlayStopMobile", "Realty", new { id = realty.Id })" class="text-success" title="Активировать"><i class="fa fa-play"></i> </a>
                                }
                            </span>
                        </p>
                    </div>
                </div>
            }
        </div>
        <div class="pages">
            <ul class="fastNav">
                <img class="fastNavL" src="/Images/System/fastNavL.png" />
                <img class="fastNavR" src="/Images/System/fastNavR.png" />
                <a class="page-prev" href="javascript:void(0)"></a>

                @for (int page = 1; page <= Model.PageCount && page <= 7; page++)
                {
                    <li>

                        @if (page == Model.PageNumber)
                        {
                            @Html.ActionLink(page.ToString(), "MyAnnouncementsMobile", new
                       {
                           CurrentPage = page,
                           PageSize = sortModel.PageSize
                       },
                                                                            new { @class = "hr" })
                        }
                        else
                        {
                            @Html.ActionLink(page.ToString(), "MyAnnouncementsMobile", new
                       {
                           CurrentPage = page,
                           PageSize = sortModel.PageSize
                       })
                        }
                    </li>
                }
                @if (Model.PageCount > 14)
                {
                    <li class="exppages">
                        <a class="exppagesTitle" href="javascript:void(0)">все<img src="/Images/System/orArrow.png" /></a>
                    </li>
                }

                @for (int page = Model.PageCount - 6; page <= Model.PageCount && page > 7; page++)
                {
                    <li>

                        @if (page == Model.PageNumber)
                        {
                            @Html.ActionLink(page.ToString(), "MyAnnouncementsMobile", new
                       {
                           CurrentPage = page,
                           PageSize = sortModel.PageSize
                       },
                                                                            new { @class = "hr" })
                        }
                        else
                        {
                            @Html.ActionLink(page.ToString(), "MyAnnouncementsMobile", new
                       {
                           CurrentPage = page,
                           PageSize = sortModel.PageSize
                       })
                        }
                    </li>
                }

                <a class="page-next" href="javascript:void(0)"></a>
            </ul>

            <div class="pageslider">
                <div class="pagesliderTop">
                    <ul>
                        @for (int page = 1; page <= Model.PageCount; page++)
                        {
                            <li>

                                @if (page == Model.PageNumber)
                                {
                                    @Html.ActionLink(page.ToString(), "MyAnnouncementsMobile", new
                               {
                                   CurrentPage = page,
                                   PageSize = sortModel.PageSize
                               },
                                                                            new { @class = "shr" })
                                }
                                else
                                {
                                    @Html.ActionLink(page.ToString(), "MyAnnouncementsMobile", new
                               {
                                   CurrentPage = page,
                                   PageSize = sortModel.PageSize
                               })
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>