
@model Reklama.ViewModels.Shops.ShopRegistrationDataViewModel
@{
    ViewBag.Title = "Регистрационные данные";
}

<div class="catalogInner personal">
    <table>
        <tr>
            <td class="ci1">
                <div class="persLogo">
                    <img src="@( Model.Shop.Logo != null ? "/Images/Catalog/ShopLogos/" + Model.Shop.Logo : "")" />
                </div>
                <p class="persLink">@Html.ActionLink("Страница на сайте", "Details", "Shops", new { id = Model.Shop.ID }, null)</p>

                <div class="persBord"></div>
                <p class="persTitleL">Абонентская плата</p>
                <div class="subscriberFee">
                    <div class="mPrice1">
                        <img class="mPriceL1" src="/Images/System/mPriceL1.png">
                        <img class="mPriceR1" src="/Images/System/mPriceR1.png">
                        @(Model.MonthlyFee)
                        <span>USD</span>
                    </div>

                </div>
                <div class="clear"></div><p>оплата производится в конце месяца (менеджер свяжется с вами).</p>
                <div class="persBord"></div>
               
            </td>
            <td class="ci2">
                <img width="10" height="1" border="0" src="/Images/System/s.png" />
            </td>
            <td class="ci3" valign="top">
                <div class="persTop">
                    <p class="persTitle">Панель управления магазином @Model.Shop.Title</p>
                    
                </div>
                @Html.Partial("_ShopTabs", Model.Shop.ID)
                <div class="persBlock persData">
                    <div class="persBlockTop">
                        @using(Html.BeginForm("RegistrationDataEdit", "Shops" , FormMethod.Get))
                        {
                            <input type="hidden" id="id" name="id" value="@(Model.Shop.ID)"/>
                            <input type="submit" class="changeData" value="" />
                            
                        }
                    </div>
                    <div class="persProd">
                        <div class="yellowInfo">@ViewBag.ChangeRegistrationDataHelp</div>
                        <table>
                            <tr>
                                <td><span>Название магазина:</span></td>
                                <td>@Model.Shop.Title</td>
                            </tr>
                            <tr>
                                <th>Контактные данные:</th>
                            </tr>
                            <tr>
                                <td><span>Контактный телефон:</span></td>
                                <td><strong>@Model.Shop.Phone</strong></td>
                            </tr>
                            <tr>
                                <td><span>Электронная почта:</span></td>
                                <td>@Model.User.Email</td>
                            </tr>
                            <tr>
                                <th>Персональные данные:</th>
                            </tr>
                            <tr>
                                <td><span>Фамилия Имя Отчество:</span></td>
                                <td>@Model.Shop.FullTitle</td>
                            </tr>
                            <tr>
                                <th>Данные организации:</th>
                            </tr>
                            <tr>
                                <td><span>Название организации:</span></td>
                                <td>@Model.Shop.CompanyName</td>
                            </tr>
                            <tr>
                                <td><span>Город:</span></td>
                                <td>@Model.CurrentCity.Name</td>
                            </tr>
                            <tr>
                                <td><span>Реквизиты:</span></td>
                                <td>
                                    @Html.Raw(Model.Shop.Requisites)
                                </td>
                            </tr>
                        </table>
                        <div class="clear"></div> 
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>  
<div class="middleBot"></div>
