@using Domain.Enums
@using Reklama
@model Domain.Entity.Catalogs.Product
@{
    Layout = null;
    var viewData= (ViewDataDictionary)ViewData;
}

<h1>@Model.Name</h1>
@* Link for Add-To-Bookmarks *@
@if ((bool)viewData["isIssetInBookmarks"])
{
    <span>В закладках</span>
}
else
{
    if (WebSecurity.IsAuthenticated)
    {
    @Html.Partial("_AddToBookmarkPartial", new Reklama.Models.SortModels.CategorySearchSortModel()
                                                                                {
                                                                                    Id = Model.Id,
                                                                                    Category = CategorySearch.Product
                                                                                })
    }
}
<div class="prodTop">
    <div class="prodTopL">
        <a href="@Url.Action("Details", "Product", new { id = Model.Id })">
            <img src="/@String.Concat(ProjectConfiguration.Get.FilePaths["product_thumb"], "/", Model.Image)" />
            </a>
    </div>

    @Html.Partial("_ProductMenu", Model, viewData)

    <div class="prodTopM">
        <p>@Model.Description</p>

        @Html.Partial("_ProductCurrencyPartial", Model)
        @Html.Partial("_BuySellersCount", Model)
    </div>

</div>
