@model PagedList.IPagedList<Domain.Entity.Catalogs.Product>
@using Reklama.Models.ViewModels.Catalog;

@{
    var secondCategory = (Domain.Entity.Catalogs.CatalogSecondCategory)ViewBag.SecondCategory;
    var filter = (Reklama.Models.ViewModels.Catalog.ProductsFilterParams)ViewBag.Filter;
    ViewBag.Title = secondCategory.Name;
}

<div class="catalogInner">
    <table>
        <tr>
            <td class="ci1">
                @Html.Partial("_PlaceGoods")
                @Html.Partial("_Manufacturers", secondCategory)
                @{ Html.RenderAction("GetUnderFiltersBanner", "Banners");}

                @*<div class="leftProd">
                                    <ul>
                                        <li>
                                            <div>
                                                <a href="javascript:void(0)">
                                                    <span class="img">
                                                        <img src="data/lProd1.jpg">
                                                    </span>
                                                    <div class="text">
                                                        <p>National Geographic NG 5159</p>
                                                        от 150 $
                                                    </div>
                                                    <div class="lShop">
                                                        <a href="javascript:void(0)">ООО «Диалса»</a>
                                                        <p>+375 29 555-00-00</p>
                                                        <p>+375 29 555-00-00</p>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <a href="javascript:void(0)">
                                                    <span class="img">
                                                        <img src="data/lProd2.jpg">
                                                    </span>
                                                    <div class="text">
                                                        <p>Nokia Lumia 800</p>
                                                        от 380 $
                                                    </div>
                                                </a>                                                    
                                                <div class="lShop">
                                                    <a href="javascript:void(0)">ООО «Диалса»</a>
                                                    <p>+375 29 555-00-00</p>
                                                    <p>+375 29 555-00-00</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>*@

                @*<div class="lBan">
                                    <a href="javascript:void(0)"><img src="/Images/System/ban120600.jpg" /></a>
                                </div>*@
                @Html.Partial("_YandexDirectPartial")
            </td>
            <td class="ci2">
                <img width="10" height="1" border="0" src="/Images/System/s.png" />
            </td>
            <td class="ci3" valign="top">
                <div class="crumbs">
                    <a href="/">Главная страница</a>
                    <span class="arr">&rarr;</span>
                    @Html.ActionLink("Каталог товаров", "Catalog")
                    <span class="arr">&rarr;</span>
                    @secondCategory.Name
                </div>
                <h1>@secondCategory.Name</h1>
                <div class="hed2">
                    <div class="ciSort">
                        <span>Сортировать по:</span>
                        <ul>
                            <li @((filter.SortOptions == Domain.Enums.SortOptionsParams.ByPrice) ? "class=a" : "")>
                                <img class="ciSortL" src="/Images/System/ciSortL.png"><img class="ciSortR" src="/Images/System/ciSortR.png"><a href="@Url.Action("List", new ProductsFilterParams()
                                                                                                                                                {
                                                                                                                                                    Page = filter.Page,
                                                                                                                                                    PageSize = filter.PageSize,
                                                                                                                                                    SecondCategoryId = filter.SecondCategoryId,
                                                                                                                                                    SortOptions = Domain.Enums.SortOptionsParams.ByPrice,
                                                                                                                                                    SortOrder = filter.SortOrder,
                                                                                                                                                    ThirdCategoryId = filter.ThirdCategoryId
                                                                                                                                                })"><span>цене</span></a></li>
                            <li @((filter.SortOptions == Domain.Enums.SortOptionsParams.ByName) ? "class=a" : "")>
                                <img class="ciSortL" src="/Images/System/ciSortL.png"><img class="ciSortR" src="/Images/System/ciSortR.png"><a href="@Url.Action("List", new ProductsFilterParams()
                                                                                                                                                {
                                                                                                                                                    Page = filter.Page,
                                                                                                                                                    PageSize = filter.PageSize,
                                                                                                                                                    SecondCategoryId = filter.SecondCategoryId,
                                                                                                                                                    SortOptions = Domain.Enums.SortOptionsParams.ByName,
                                                                                                                                                    SortOrder = filter.SortOrder,
                                                                                                                                                    ThirdCategoryId = filter.ThirdCategoryId
                                                                                                                                                })"><span>названию</span></a></li>
                        </ul>
                    </div>
                    <div class="retSort down">
                        @if (filter.SortOrder == Domain.Enums.SortOrderParams.Ascending)
                        {
                            <a href="@Url.Action("List", new ProductsFilterParams()
                                {
                                    Page = filter.Page,
                                    PageSize = filter.PageSize,
                                    SecondCategoryId = filter.SecondCategoryId,
                                    SortOptions = filter.SortOptions,
                                    SortOrder = Domain.Enums.SortOrderParams.Descending,
                                    ThirdCategoryId = filter.ThirdCategoryId
                                })">
                                по убыванию
                            </a><span>&nbsp;</span>
                        }
                        else
                        {
                            <a href="@Url.Action("List", new ProductsFilterParams()
                                {
                                    Page = filter.Page,
                                    PageSize = filter.PageSize,
                                    SecondCategoryId = filter.SecondCategoryId,
                                    SortOptions = filter.SortOptions,
                                    SortOrder = Domain.Enums.SortOrderParams.Ascending,
                                    ThirdCategoryId = filter.ThirdCategoryId
                                })">
                                по возрастанию
                            </a><span>&nbsp;</span>
                        }
                    </div>
                    <div class="ciShowBy">
                        <span>Показать на странице:</span>
                        <ul>
                            @for (int i = 0; i < 3; i++)
                            {
                                <li @((filter.PageSize == Reklama.ProjectConfiguration.Get.ItemsOnPage[i]) ? "class=a" : "")>
                                    <a href="@Url.Action("List", new ProductsFilterParams()
                                        {
                                            Page = filter.Page,
                                            PageSize = Reklama.ProjectConfiguration.Get.ItemsOnPage[i],
                                            SecondCategoryId = filter.SecondCategoryId,
                                            SortOptions = filter.SortOptions,
                                            SortOrder = filter.SortOrder,
                                            ThirdCategoryId = filter.ThirdCategoryId
                                        })">
                                        <span>@Reklama.ProjectConfiguration.Get.ItemsOnPage[i]</span></a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="ciList">
                    <ul>
                        @foreach (var product in Model)
                        {
                            <li>
                                <table>
                                    <tr>
                                        <td class="ciImg">
                                            <a href="@Url.Action("Details", new { id = product.Id })">
                                                <img src="/@String.Concat(Reklama.ProjectConfiguration.Get.FilePaths["product_thumb"], "/", product.Image)" /></a>
                                        </td>
                                        <td class="ciText">
                                            <div>
                                                <span class="ciName">@Html.ActionLink(product.Name, "Details", new { id = product.Id })</span>
                                                <p>@product.SmallDescription ...@Html.ActionLink("Читать подробнее", "Details", new { id = product.Id })</p>
                                                <div class="ciRate">
                                                    <span>
                                                        <img src="/Images/System/file.png" />
                                                        @Html.ActionLink("Характеристики", "Details", new { id = product.Id })
                                                    </span>
                                                    <span>
                                                        <img src="/Images/System/foto.png" />
                                                        @Html.ActionLink("Фото", "Photos", new { id = product.Id })
                                                        <sup>@(product.Images.Count + 1)</sup>
                                                    </span>
                                                    <span>
                                                        
                                                        @if (product.ReviewLink != null && !product.ReviewLink.IsEmpty())
                                                        {
                                                            <img src="/Images/System/page.png" />
                                                            <a href="@product.ReviewLink">Обзор</a>
                                                        }
                                                    </span>
                                                    <span>
                                                        <img src="/Images/System/book.png" />
                                                        @Html.ActionLink("Отзывы", "Feedbacks", new { id = product.Id })
                                                        <sup>@product.Feedbacks.Count</sup>
                                                    </span>
                                                    @*                                                                <span>
                                                                    <img src="/Images/System/talk.png" />
                                                                    <a href="javascript:void(0)">Обсуждениe</a>
                                                                    <sup>88</sup>
                                                                </span>*@
                                                </div>
                                            </div>
                                        </td>
                                        <td class="ciOffers">
                                            @Html.Partial("_ProductCurrencyPartialList", product)
                                            @Html.Partial("_BuySellersCount", product)
                                        </td>
                                    </tr>
                                </table>
                            </li>
                        }
                        
                    </ul>
                </div>



                <div class="pages">
                    <ul class="fastNav">
                        <img class="fastNavL" src="/Images/System/fastNavL.png" />
                        <img class="fastNavR" src="/Images/System/fastNavR.png" />
                        <a class="page-prev" href="javascript:void(0)"></a>
                        
                        @for (int page = 1; page <= Model.PageCount && page <= 7; page++)
                        {
                            <li>

                                @if (page == Model.PageNumber)
                                {
                                    @Html.ActionLink(page.ToString(), "List", new
                                                                            {
                                                                                Page = page,
                                                                                PageSize = filter.PageSize,
                                                                                SecondCategoryId = filter.SecondCategoryId,
                                                                                SortOptions = filter.SortOptions,
                                                                                SortOrder = filter.SortOrder,
                                                                                ThirdCategoryId = filter.ThirdCategoryId
                                                                            },
                                                                            new { @class = "hr" })
                                }
                                else
                                {
                                    @Html.ActionLink(page.ToString(), "List", new
                                                                            {
                                                                                Page = page,
                                                                                PageSize = filter.PageSize,
                                                                                SecondCategoryId = filter.SecondCategoryId,
                                                                                SortOptions = filter.SortOptions,
                                                                                SortOrder = filter.SortOrder,
                                                                                ThirdCategoryId = filter.ThirdCategoryId
                                                                            })
                                }
                            </li>
                        }
                        
                        @if (Model.PageCount > 14)
                        {
                            <li class="exppages"><a class="exppagesTitle" href="javascript:void(0)">все<img src="/Images/System/orArrow.png" /></a>
                            </li>
                        }
                        
                        @for (int page = Model.PageCount - 6; page <= Model.PageCount && page > 7; page++)
                        {
                            <li>

                                @if (page == Model.PageNumber)
                                {
                                    @Html.ActionLink(page.ToString(), "List", new
                                                                            {
                                                                                Page = page,
                                                                                PageSize = filter.PageSize,
                                                                                SecondCategoryId = filter.SecondCategoryId,
                                                                                SortOptions = filter.SortOptions,
                                                                                SortOrder = filter.SortOrder,
                                                                                ThirdCategoryId = filter.ThirdCategoryId
                                                                            },
                                                                            new { @class = "hr" })
                                }
                                else
                                {
                                    @Html.ActionLink(page.ToString(), "List", new
                                                                            {
                                                                                Page = page,
                                                                                PageSize = filter.PageSize,
                                                                                SecondCategoryId = filter.SecondCategoryId,
                                                                                SortOptions = filter.SortOptions,
                                                                                SortOrder = filter.SortOrder,
                                                                                ThirdCategoryId = filter.ThirdCategoryId
                                                                            })
                                }
                            </li>
                        }

                        <a class="page-next" href="javascript:void(0)"></a>
                    </ul>

                    <div class="pageslider">
                        <div class="pagesliderTop">
                            <ul>
                                @for (int page = 1; page <= Model.PageCount; page++)
                                {
                                    <li>

                                        @if (page == Model.PageNumber)
                                        {
                                            @Html.ActionLink(page.ToString(), "List", new
                                                                            {
                                                                                Page = page,
                                                                                PageSize = filter.PageSize,
                                                                                SecondCategoryId = filter.SecondCategoryId,
                                                                                SortOptions = filter.SortOptions,
                                                                                SortOrder = filter.SortOrder,
                                                                                ThirdCategoryId = filter.ThirdCategoryId
                                                                            },
                                                                            new { @class = "shr" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink(page.ToString(), "List", new
                                                                            {
                                                                                Page = page,
                                                                                PageSize = filter.PageSize,
                                                                                SecondCategoryId = filter.SecondCategoryId,
                                                                                SortOptions = filter.SortOptions,
                                                                                SortOrder = filter.SortOrder,
                                                                                ThirdCategoryId = filter.ThirdCategoryId
                                                                            })
                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                        @*<div class="alHScrollBar">
                            <div class="alHScrollSlider" style="left: 0px;"></div>
                        </div>*@
                    </div>
                </div>



            </td>
        </tr>
    </table>
</div>
<div class="middleBot"></div>