@using Domain.Enums
@using Reklama
@using Reklama.Models.Shared
@model Domain.Entity.Catalogs.Product

@{
    ViewBag.Title = "Изображения товара";
}

<div class="catalogInner">


    <table>
        <tr>
            <td class="ci1">
                @Html.Partial("_PlaceGoods")
                @Html.Partial("_Manufacturers", Model.SecondCategory)
                @{ Html.RenderAction("GetUnderFiltersBanner", "Banners");}

                @*
                <div class="bestOffers">
                    <em>Лучшие предложения</em>
                    <div class="bestOffer">
                        <div class="bestOfferImg"><a href="javascript:void(0)">
                                                      <img src="/Images/System/best1.jpg" /></a></div>
                        <div class="bestOfferText">
                            <a href="javascript:void(0)">Sony PlayStation Portable (PSP-3000)</a>
                            <span>от 200 $</span>
                        </div>
                    </div>
                    <div class="bestOffer">
                        <div class="bestOfferImg"><a href="javascript:void(0)">
                                                      <img src="/Images/System/best1.jpg" /></a></div>
                        <div class="bestOfferText">
                            <a href="javascript:void(0)">Sony PlayStation Portable (PSP-3000)</a>
                            <span>от 200 $</span>
                        </div>
                    </div>
                    <p>Приведенные предложения продавцов являются рекламной информацией и их приглашением делать оферы. При покупке всегда запоминайте полное наименование юридического лица или ИП продавца. Обязательно уточняйте комплект поставки, цвет товара и иную информацию в процессе заказа.</p>
                </div>
*@
            </td>
            

            <td class="ci2">
                <img width="10" height="1" border="0" src="/Images/System/s.png" />
            </td>
            <td class="ci3" valign="top">
                <div class="crumbs">
                    <a href="/">Главная страница</a>
                    <span class="arr">&rarr;</span>
                    @Html.ActionLink("Каталог товаров", "Catalog")
                    <span class="arr">&rarr;</span>
                    @Html.ActionLink(Model.SecondCategory.Name, "List", new { secondCategoryId = Model.SecondCategoryId })
                    <span class="arr">&rarr;</span>
                    @Model.Name - Фотографии
                </div>
                
                @Html.Partial("_Product", Model,  (new ViewDataDictionary() { 
                        new KeyValuePair<string, object>("productMenu", ProductMenu.Photo),
                        new KeyValuePair<string, object>("isIssetInBookmarks", ViewBag.IsIssetInBookmark)
                }))
                
                @Html.Partial("SlideShow", new SliderModel
                     {
                         Slides = Model.Images.Select(q => String.Format("/Images/Catalog/Product/{0}", q.Link)).ToList(),
                         Thumbnails = Model.Images.Select(q => String.Format("/Images/Thumbnails/Product/{0}", q.Link)).ToList(),
                     })

            </td>
        </tr>
    </table>
</div>
<div class="middleBot"></div>


@section Scripts{
    @Scripts.Render("~/Scripts/cusel-min-2.5.js")
    @Scripts.Render("~/Scripts/jquery.tinyscrollbar.min.js")
    @Scripts.Render("~/Scripts/jquery.jcarousel.min.js")
    @Styles.Render("~/Content/Cusel.css")
    @Styles.Render("~/Content/Tinyscrollbar.css")
}